section.team_section {
	    padding: 50px 0 100px;

	.three-image-container {



		.images-section {
			max-width: 860px;
    	margin: auto;

			.image-container {
				position: relative;
				padding: 10px;

				@media #{$tablet} {
					padding: 0;
				}

				@media #{$mobile} {
					padding: 0;
					text-align: center;
				}

				img {
					height: auto;

					&:hover{

					}
				}

				.button {

			    position: absolute;
			    bottom: 10px;
			    left: 10px;
					border-radius: 0;
    			padding: 30px 0;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
					background: rgb(208,247,248); /* Old browsers */
					background: -moz-linear-gradient(45deg,  rgba(208,247,248,1) 0%, rgba(249,255,231,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					max-width: 252px;
			    min-width: 252px;
			    text-align: center;

					@media #{$tablet} {
						display: none !important;
					}

					@media #{$mobile} {
						display: none !important;
					}


					a.bio-button {
						font-size: 15.5px;
						color: $dark-blue;
						font-family: $secondaryFont;

						cursor: pointer;

					}
				}

				.littleName {
					display: none;

					@media #{$mobile} {
						display: block;
					}
					@media (min-width: 768px) and (max-width: 991px) {


						color: $dark-blue;
						padding: 20px 0;
						text-align: center;
						background: rgb(208,247,248); /* Old browsers */
						background: -moz-linear-gradient(45deg,  rgba(208,247,248,1) 0%, rgba(249,255,231,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
						margin: 0 auto;
						width: auto;
					}

					@media (max-width: 767px) {

						color: $dark-blue;
						padding: 20px 0;
						text-align: center;
						background: rgb(208,247,248); /* Old browsers */
						background: -moz-linear-gradient(45deg,  rgba(208,247,248,1) 0%, rgba(249,255,231,1) 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
						margin: 0 auto 40px;
						max-width: 252px !important;

					}

					a.lil-button {
						font-size: 15.5px;
						color: $dark-blue;
						font-family: $secondaryFont;

						cursor: pointer;

					}
				}
			}
		}
	}

	.arrow_box {
  position: relative;
  padding: 10px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: rgb(208, 247, 248);
  background-image: -moz-linear-gradient(45deg, rgba(208, 247, 248, 1) 0%, rgba(249, 255, 231, 1) 100%);
  background-image: -webkit-linear-gradient(45deg, rgba(208, 247, 248, 1) 0%, rgba(249, 255, 231, 1) 100%);
  background-image: linear-gradient(45deg, rgba(208, 247, 248, 1) 0%, rgba(249, 255, 231, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
  &:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(194, 225, 245, 0);
    border-top-color: rgb(208, 247, 248);
    border-width: 26px;
    margin-left: -26px;
  }


}

	.bio-section {
		margin-top: 60px;

		h3 {
			background-position: 0 100%;
			background-repeat: no-repeat;
			background-size: 100% 5px;
			padding-bottom: 10px;
			background-image: rgb(208,247,248); /* Old browsers */
			background-image: -moz-linear-gradient(45deg,  rgba(208,247,248,1) 0%, rgba(249,255,231,1) 100%); /* FF3.6-15 */
			background-image: -webkit-linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background-image: linear-gradient(45deg,  rgba(208,247,248,1) 0%,rgba(249,255,231,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			margin-bottom: 20px;
		}

		p {
			color: $dark-blue;
			font-size: 16px;
		}
	}

	.span4 {
		width: 31.491712705%;
		margin-left: 2.5%;

		@media #{$desktopwide} {
			width: 31.623931624%;
		}

		@media (max-width: 767px) {
			width: auto !important;
			margin-left: 2.5% !important;
		}
	}

	.span12 {
		width: 99.999999993%;

		@media #{$desktopwide} {
			width: 100%;
		}
	}
}
