section#food_list_section {

	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
	background: rgb(255,255,255);
	background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
	background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png),  -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
	background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png),  linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 100%);
	background-repeat: no-repeat;
	background-position: top center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	color: $dark-blue;
	.food-list-head {
		margin-bottom: 100px;

		.top-copy {

			.headline {
				font-size: 41px;
				color: $dark-blue;
				font-family: $primaryFont;
				text-align: center;
				margin: 0 auto;
				padding-top: 80px;



				@media (max-width: 450px) {
					padding-top: 30px;
					font-size: 35px;
				}
			}

			.copy {
				max-width: 450px;
	    	margin: 0 auto;
			}

			.list-button-container {
				margin: 40px 0 0 0;
				text-align: center;

				@media (max-width: 450px) {
					margin: 40px 0 0 0;
				}

				a.list-button {
					margin: auto;
					text-align: center;
					padding: 10px 0;
					color: #FF0007;
					border-left: 1px solid #FF0007;
					border-right: 1px solid #ff6307;
					background-position: 0 0, 0 100%;
					background-repeat: no-repeat;
					background-size: 100% 1px;
					background-image: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%), -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
					background-image: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%), -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
					background-image: -o-linear-gradient(left, #FF0007 0%, #ff6307 100%), -o-linear-gradient(left, #FF0007 0%, #ff6307 100%);
					background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%), linear-gradient(to right, #FF0007 0%, #ff6307 100%);
					padding: 10px 45px;
			    display: inline-block;
			    font-size: .95em;
					font-family: $secondaryFont;
					cursor: pointer;

					&:hover {
						color: #ffffff !important;
				    background: #ff0007;
				    background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%);
				    background: -webkit-linear-gradient(left, #ff0007 0%,#ff6307 100%);
				    background: linear-gradient(to right, #ff0007 0%,#ff6307 100%);
				    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 );
					}
				}
			}
		}
	}


	#myDIV {
		display: none;
		-webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;

		.food-list {

			.left-list {

				.beverages {

				}
			}

			.right-list {

				.sides {
					margin-bottom: 50px;
				}

			}
		}

		.disclaim {
			clear: both;
			margin-bottom: 70px;
			padding-top: 40px;

			p {

			}
		}
	}


	//General for this section
	h2.food-headline {
		color: $dark-blue;
		font-size: 24px;
		font-family: $secondaryFont;
	}

	ul {
		list-style: none;
	}

	@-webkit-keyframes slide-down {
      0% { opacity: 0; -webkit-transform: translateY(-100%); }
	    100% { opacity: 1; -webkit-transform: translateY(0); }
	}
	@-moz-keyframes slide-down {
	      0% { opacity: 0; -moz-transform: translateY(-100%); }
	    100% { opacity: 1; -moz-transform: translateY(0); }
	}
}
