.disclaimer {
	background: $light-grey;
	color: $grey;
	padding: 30px 0;
	font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
}

.footer {
	padding: 20px 0;
	font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;

	.footer-content {
		padding: 20px 0;
		color: $blue;

		ul {

			li {

				a {
					padding-bottom: 13px;
				}
			}
		}
	}

	.row-fluid .widget-span + .widget-span {

		@media (max-width: 1139px) and (min-width: 768px) {
			margin-left: 4%; 
		}
	}
	
	.social-icons {
		margin: 15px 0;

		ul {
			margin: 0;
		    padding: 0;
		    text-align: center;
		    display: flex;
		    flex-direction: row;
		    justify-content: center;

			li {
				display: inline;
			    float: left;
			    margin: 0 10px;

			    a {
			    	display: block;
				    float: none;
				    padding: 5px 10px;
				    border: 1px solid;
				    border-radius: 30px;
				    height: 35px;
				    width: 36px;
				    vertical-align: middle;
				    background: $white;

				    &.facebook {
				    	color: #507CB9;
				    	border-color: #507CB9;

				    	&:hover {
				    		color: $white;
				    		background: #507CB9;
				    	}
				    }

				    &.pinterest {
				    	color: #EC5F5D;
				    	border-color: #EC5F5D;

				    	&:hover {
				    		color: $white;
				    		background: #EC5F5D;
				    	}
				    }

				    &.twitter {
				    	color: #64C7EA;
				    	border-color: #64C7EA;

				    	&:hover {
				    		color: $white;
				    		background: #64C7EA;
				    	}
				    }

				    &.linkedin {
				    	color: #1182C4;
				    	border-color: #1182C4;

				    	&:hover {
				    		color: $white;
				    		background: #1182C4;
				    	}
				    }

				    &.instagram {
				    	color: #d6249f;
				    	border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

				    	&:hover {
				    		color: $white;
				    		background: #d6249f;
				    	}
				    }
			    }
			}
		}
	}

	.copyright {
		padding: 20px 0;
		text-align: center;
		color: #959595;
	}
}