#site-header {
	background-color: $white;
	display: block;
	height: auto;
	position: relative;
	width: 100%;
	transition: none;
    z-index: 2;
	.phone {
		a {
			text-decoration: none;
			color: #0071bd;
		}
	}
    a {
		text-decoration: none;
		color: white;

	}

	.site-header__logo {
		padding: 0;

		img {

			@media (max-width: 419px) {
				margin: 10px 0;
			}
		}
	}

	.utility {
		background-color: $white;
		    display: block;
    		overflow: hidden;

		.container{
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			align-content: center;
			text-align: right;
		}

		.phone {
	    	font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
			text-align: right;
			padding: 7px 0 0;
			margin-right: 0;
			float: none;
		    display: inline-block;
		    vertical-align: top;
		    text-transform: uppercase;
		    color: $blue;
		    font-weight: bold;
		    font-size: .9em;

		    @media#{$phonenarrow}{
		    	display: block;
		    	text-align:center;
		    }

	    	a {
	    		color: $blue;
	    		font-weight: 600;

	    		img {
	    			margin-right: 5px;
	    		}

		    	&:hover {
		    		text-decoration: none;
					color: $red;
		    	}
	    	}
		}
	}

	.header-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        text-align: right;

        @media#{$mobile} {
        	padding-bottom: 20px;
        }

        @media (max-width: 419px) {
			padding-bottom: 0;
		}

        .span3 {

        	@media#{$mobile} {
        		width: 50%;
        		text-align: left;
        	}

        	@media (max-width: 419px) {
				width: 100%;
        		text-align: center;
			}
        }

        .row-fluid {
	        width: 100%;
	        margin: 0;

	        .logo {
				padding: 10px 0;

				@media#{$mobile} {
					text-align: left;
				}

				img {
					transition: none;
		    	}
			}

			.header-mainnav {
			 	display: flex;
		        justify-content: flex-end;
		        align-items: center;
						display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
		        align-content: center;
		        flex-direction: row;
		        padding-right: 0;
				text-align: right;
				float: right;

				@media#{$mobile}{
					display: block;
			        padding-right: 0;
			        text-align: right;
			        width: 100%;
			        float: left;
			        padding: 0;
			        margin: 0;
			        min-height: 0;
				}

				@media (max-width: 419px) {
					text-align: center;
					float: none;
					min-height: 38px;
					margin: 10px 0;
				}

				.navbar {
					display: inline-block;
					text-align: left;
					padding-right: 10px;
					padding-left: 0;
					float: none;
				    vertical-align: top;
				    margin: 20px 0;
				    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;

					@media#{$mobile}{
					    display:none;
					}

					.nav {
						padding-top: 0;
						margin-top: 5px;
						float: right;
					    padding: 0;
					    margin: 0;
					    list-style:none;

						> li {
							display: inline-block;
						    float: left;
						    padding: 0;
						    margin: 0;
						    position: relative;

							> a {
								border-bottom: 4px solid $white;
								font-size: .8em;
								color: $dark-blue;
							    text-decoration: none;
							    padding: 10px 10px 5px;
							    display: block;
							    transition: none !important;

								@media#{$desktopwide} {
									font-size: 1em;
								}


								&:focus, &:hover, &.current-menu-item {
									cursor:pointer;

							    	a {
							    		text-decoration: none;
										color: #0071bd;
										cursor:pointer;
							    	}
							    }

							}

							ul {
							    display: none;
							    list-style: none;
							    float: left;
							    margin: 0;

							    li {
								    display: block;
								    width: 100%;

								    &:hover {
								    	background: $dark-blue;

								    }
								}
							}

							&.hs-item-has-children {

								> a:after {
								    color: $dark-blue;
								    content: '\f103';
								    font-family: FontAwesome;
								    font-weight: normal;
								    font-style: normal;
								    margin: 0px 0px 0px 10px;
								    text-decoration: none;
								    line-height: normal;
								}
							}

							&.active {

								a {
									border-bottom: 4px solid $dark-blue;
								}
							}
						}

						> li:hover {
							> a {
								border-bottom: 4px solid $dark-blue;
								cursor:pointer;
							}

							ul {
								background: $light-blue;
								padding: 0;
							    width: 250px;
							    position: absolute;
							    top: 100%;
							    display:block;

							    @media#{$desktopwide} {
							    	width: 280px;
							    }

								> li {
									border-bottom: 1px solid $blue;

									a {
										color: $dark-blue;
										font-size: .8em;
										padding: 15px;

										&:hover {
											color: $white;
											text-decoration: none;
										}

										@media#{$desktopwide} {
											font-size: 1em;
										}
									}

									&:last-child {
										border:0;
									}
								}
							}
						}
					}
				}

				.menu-cta-container {
					display: block;
					float: none;
			    	padding-top: 0;
			    	float: none;
				    display: inline-block;
				    vertical-align: top;

				    @media#{$mobile} {
							display: block;
						}
					@media (max-width: 419px){
						display: inline;
    					text-align: center;
					}

			    	.btn {
						padding: 10px 20px;
						font-size: 1em;
						border: 1px solid $dark-blue;
						font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
						color: $dark-blue;
						text-transform: none;

						@media#{$mobile}{
							width: 100% !important;
							background-color: $dark-blue !important;
							color: $white !important;
							margin: 10px 0 !important;
							border-width: 2px;
							border-style: solid;
							color: $blue !important;
							background-color: transparent !important;
							padding: 8px 15px !important;
							font-weight: 600;
							width: auto !important;
							letter-spacing: 0;
							position: absolute;
						    right: 100px;
						    top: 0;
						}

						@media (max-width: 419px) {
							position: relative;
							padding: 10px 15px;
							display: inline;
							right: 0;
						}

						&:hover {
							background-color: $dark-blue !important;
							color: $white !important;
						}


					}
				}
			}
		}
	}

	#mobile-header {

		@media#{$mobile} {
			float: right;
        	display: block;
        	width: 100px;
		}

		@media (max-width: 419px) {
			float: none;
			display: inline;
			width: 100px;
    		text-align: center;
		}

		#simple-menu {
			display:none;
			text-decoration: none;
			background-image: $red-gradient;
			background-repeat: repeat-x;
			border-radius: 0;
			padding: 15px;
			margin: 15px 0;
			color: $white;
			font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;

			@media#{$mobile} {
				display: block;
			    position: absolute;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    height: 45px;
			    width: 75px;
			    text-align: center;
			    float: right;
			    margin: 10px;
			    vertical-align: middle;
			    padding: 10px;
			}

			@media (max-width: 419px) {
				position: relative;
				display: inline;
				right: 0;
				float: none;
			}

			&:hover {
				background: darken($dark-blue,5%);
			}
		}

		#close{
			margin:15px;
			display:none;
			text-decoration: none;
			background-color: $white;
			border-radius: 5px 5px 5px 5px;
			padding: 15px;
			color: #000000;

			@media#{$mobile} {
				display:block;
			}

		}
	}

}

.sidr.right {
	background: $blue;
	box-shadow: none;
	font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;

	a {
		transition: none !important;
	}


	ul {
		border-bottom: 1px solid darken($blue,5%);
		border-top: 1px solid darken($blue,5%);
		margin: 0;

		li {
			border-bottom: 1px solid darken($blue,5%);
			border-top: 1px solid darken($blue,5%);
			padding: 0;

			&:hover {
				border-top: 1px solid darken($blue,5%);

				a {
					box-shadow: none;
					transition: none !important;
				}
			}

			&:active {
				border-top: 1px solid darken($blue,5%);
			}

			ul {
				border-top: 1px solid darken($blue,5%);

				li {
					&:hover {
						border-top: 1px solid darken($blue,5%);

						a {
							box-shadow: none;
						}
					}

					&:active {
						border-top: 1px solid darken($blue,5%);
					}

					a {
						color: $white;

						&:hover {
							background: lighten($blue,5%);
						}
					}

					p {
			        	display:none;
			        }

			        h4 {
		              padding: 0;
		              font-size: inherit;
		              background: none;
		              margin: 0;
		              box-shadow: none;
		          	}

		          	.sidr-class-learn-more {
			        	display: none;
			        }
				}
			}

			a {
				padding: 15px;
				line-height: normal;

				&:hover {
					background: lighten($blue,5%);
				}
			}
		}

		.sidr-class-hs-item-has-children {
			&:hover {
				color: $white;
				background: $dark-blue;

				a {
					cursor: default;
				}
			}

			ul {
				li {
					a {
						&:hover {
							cursor: pointer;
						}
					}
				}
			}
		}
	}

	#sidr-id-close {
	   	margin: 15px;
	   	display: none;
	   	text-decoration: none;
	   	background-color: #fff;
	   	border-radius: 5px 5px 5px 5px;
	   	padding: 15px;
	   	color: #000;

		@media#{$mobile} {
		    display: block;
		}

		&:hover {
			color: $white;
			background-color: $dark-blue;
		}
	}

}

/* Store */
.header-utility__cart {
    display: flex !important;
    float: none !important;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    @media#{$phone}{
    	justify-content: center;
    }
}

.header-utility {


	a {
    	margin-left: .5em;
    	font-size: 14px;

    	@media#{$phone}{
    		text-align:center;
    	}

    	@media#{$phonenarrow}{
    		font-size: 11px;
    	}

    	&:first-child {
    		margin:0;
    	}


    	span {
    		margin-left: 0;
    	}
   	}

   	span {
   		margin-left: .5em;

   		&:first-child {
    		margin: 0;
    	}

   		a {
   			margin-left: 0;
   		}
   	}
}
