.two-col-img {

	&.dark-blue-bg {
		background-color: $dark-blue;

		.text {
			h3 {
				color:$white;
			}
			p {
				color:$white;
			}

			.btn {
				font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
				padding: 10px 45px;
	    		display: block;
	    		font-size: .95em;
			    text-align: center;
			    max-width: 250px;
			    border: 1px solid $white;
	    		
	    		&:hover {
	    			background: $orange;
	    		}
			}
		}
	}
	
}