.two-col-flex {
    display: block;
    overflow: hidden;

		&.dark-blue-bg {
	    	background-color: $dark-blue;
	    }
	    &.white-bg {
	    	background-color: $white;
	    }
	    &.light-grey-bg {
	    	background-color: $light-grey;
	    }

	    &.row-fluid{width:100%;*zoom:1}&.row-fluid:before,&.row-fluid:after{display:table;content:""}&.row-fluid:after{clear:both}&.row-fluid [class*="span"]{display:block;float:left;width:100%;min-height:28px;margin-left:2.127659574%;*margin-left:2.0744680846382977%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}&.row-fluid [class*="span"]:first-child{margin-left:0}&.row-fluid .span12{width:99.99999998999999%;*width:99.94680850063828%}&.row-fluid .span11{width:91.489361693%;*width:91.4361702036383%}&.row-fluid .span10{width:82.97872339599999%;*width:82.92553190663828%}&.row-fluid .span9{width:74.468085099%;*width:74.4148936096383%}&.row-fluid .span8{width:65.95744680199999%;*width:65.90425531263828%}&.row-fluid .span7{width:57.446808505%;*width:57.3936170156383%}&.row-fluid .span6{width:48.93617020799999%;*width:48.88297871863829%}&.row-fluid .span5{width:40.425531911%;*width:40.3723404216383%}&.row-fluid .span4{width:31.914893614%;*width:31.8617021246383%}&.row-fluid .span3{width:23.404255317%;*width:23.3510638276383%}&.row-fluid .span2{width:14.89361702%;*width:14.8404255306383%}&.row-fluid .span1{width:6.382978723%;*width:6.329787233638298%}.container-fluid{*zoom:1}.container-fluid:before,.container-fluid:after{display:table;content:""}.container-fluid:after{clear:both}@media(max-width:767px){&.row-fluid{width:100%}&.row-fluid [class*="span"]{display:block;float:none;width:auto;margin-left:0}}@media(min-width:768px) and (max-width:1139px){&.row-fluid{width:100%;*zoom:1}&.row-fluid:before,&.row-fluid:after{display:table;content:""}&.row-fluid:after{clear:both}&.row-fluid [class*="span"]{display:block;float:left;width:100%;min-height:28px;margin-left:2.762430939%;*margin-left:2.709239449638298%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}&.row-fluid [class*="span"]:first-child{margin-left:0}&.row-fluid .span12{width:99.999999993%;*width:99.9468085036383%}&.row-fluid .span11{width:91.436464082%;*width:91.38327259263829%}&.row-fluid .span10{width:82.87292817100001%;*width:82.8197366816383%}&.row-fluid .span9{width:74.30939226%;*width:74.25620077063829%}&.row-fluid .span8{width:65.74585634900001%;*width:65.6926648596383%}&.row-fluid .span7{width:57.182320438000005%;*width:57.129128948638304%}&.row-fluid .span6{width:48.618784527%;*width:48.5655930376383%}&.row-fluid .span5{width:40.055248616%;*width:40.0020571266383%}&.row-fluid .span4{width:31.491712705%;*width:31.4385212156383%}&.row-fluid .span3{width:22.928176794%;*width:22.874985304638297%}&.row-fluid .span2{width:14.364640883%;*width:14.311449393638298%}&.row-fluid .span1{width:5.801104972%;*width:5.747913482638298%}}@media(min-width:1280px){&.row-fluid{width:100%;*zoom:1}&.row-fluid:before,&.row-fluid:after{display:table;content:""}&.row-fluid:after{clear:both}&.row-fluid [class*="span"]{display:block;float:left;width:100%;min-height:28px;margin-left:2.564102564%;*margin-left:2.510911074638298%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}&.row-fluid [class*="span"]:first-child{margin-left:0}&.row-fluid .span12{width:100%;*width:99.94680851063829%}&.row-fluid .span11{width:91.45299145300001%;*width:91.3997999636383%}&.row-fluid .span10{width:82.905982906%;*width:82.8527914166383%}&.row-fluid .span9{width:74.358974359%;*width:74.30578286963829%}&.row-fluid .span8{width:65.81196581200001%;*width:65.7587743226383%}&.row-fluid .span7{width:57.264957265%;*width:57.2117657756383%}&.row-fluid .span6{width:48.717948718%;*width:48.6647572286383%}&.row-fluid .span5{width:40.170940171000005%;*width:40.117748681638304%}&.row-fluid .span4{width:31.623931624%;*width:31.5707401346383%}&.row-fluid .span3{width:23.076923077%;*width:23.0237315876383%}&.row-fluid .span2{width:14.529914530000001%;*width:14.4767230406383%}&.row-fluid .span1{width:5.982905983%;*width:5.929714493638298%}}.clearfix{*zoom:1}.clearfix:before,.clearfix:after{display:table;content:""}.clearfix:after{clear:both}.hide{display:none}.show{display:block}.invisible{visibility:hidden}.hidden{display:none;visibility:hidden}.visible-phone{display:none !important}.visible-tablet{display:none !important}.hidden-desktop{display:none !important}@media(max-width:767px){.visible-phone{display:inherit !important}.hidden-phone{display:none !important}.hidden-desktop{display:inherit !important}.visible-desktop{display:none !important}}@media(min-width:768px) and (max-width:1139px){.visible-tablet{display:inherit !important}.hidden-tablet{display:none !important}.hidden-desktop{display:inherit !important}.visible-desktop{display:none !important}}

	    &.background-right-position {
	    	.content-flex {
	    		background-position: right center;
	    	}
	    }

	.container-fluid {
		display: -ms-flexbox;
	    display: flex;
	    display: -webkit-flexbox;
		display: -webkit-flex;
	    -ms-flex-pack: center;
	    justify-content: center;
	    flex-direction: row;

	    @media#{$phone}{
	    	flex-direction: column;
	    	-webkit-flex-direction: column !important;
	    }

	    

		.content-flex {
			-ms-flex: 1.5;
			    flex: 1.5;
		    padding: 10px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    min-height: inherit;
		    padding-top: 50px;
		    padding-bottom: 50px;
		    height: inherit;

		    @media#{$phone}{
				padding-top: 20px;
		    	padding-bottom: 20px;
		    	display:block;
				overflow:hidden;
				flex: none;
				-ms-flex: none;
			    -webkit-flex: none;
			}

		    &.span5 {
			    -ms-flex: 1;
			    flex: 1;

			    &.content-left {
			    	padding-left: 50px;

			    	@media#{$desktopwide}{
			    		padding-left: 150px;
			    	}

			    	@media#{$mobile}{
			    		padding-left: 20px;
			    	}

			    	@media#{$phone}{
			    		padding-left: 0;
			    	}
			    }
			    &.content-right {
			    	padding-right: 50px;
			    	padding-top: 80px;

			    	@media#{$desktopwide}{
			    		padding-right: 150px;
			    	}

			    	@media#{$mobile}{
			    		padding-right: 20px;
			    		padding-top: inherit;
			    	}

			    	@media#{$phone}{
			    		padding-right: 0;
			    	}
			    }
		    }

		    &.blue-text {

		    	h3, p {
		    	color: $dark-blue;
		    	}
		    }
		    &.white-text {
		    h3, p {
		    	color: $white;
		    	}
		    }

		    @media#{$mobile} {
				padding: 0;
			}

		    @media#{$phone} {
		    	background-image: none !important;
		    	padding: 0;
		    	flex: none;
		    	-ms-flex: none;
		    	-webkit-flex: none;
		    	order: 2;
		    	-webkit-order: 2;
		    }

		    &.right {
				order: 1;
				flex: none;
		    	-ms-flex: none;
		    	-webkit-flex: none;
		    	-webkit-order: 1;
			}

			.content {
			    display: block;
			    overflow:hidden;

			    @media#{$mobile} {
			    	margin: 30px auto 40px;
			    	padding: 0 30px;
			    	max-width: 500px;
			    }

			    @media#{$phone} {
			    	margin: 30px auto 40px;
			    	padding: 0 20px;
			    	max-width: 100%;
			    }
			}

			b, strong {
			    font-weight: 800;
			}

			h3 {
				line-height: 1.4em;
    			margin-bottom: 20px;
    			font-size: 1.35em;
			}

			p {
				font-size: .95em;
			}

			.page-btn {
			    margin-top: 15px;
			    text-align:center;
			}

			.visible-mobile {
				display: none;

				@media#{$phone} {
					display: block;
					width: 100%;
    				overflow: hidden;
				}

				img {
					max-width: 100%;
				    height: auto;
				    margin: 0 auto;
				    display: block;
				}
			}
		}
	}
}

