/*
 * _global.scss
 * This scss file should be used to declare styles that
 * are used across the entire site.
 *
 * This should NOT include common classes that may be
 * used in various pages or sections. However, the common
 * classes are included before this file, so they may be
 * used to apply the same style to certain elements on
 * every page here.
 *
 * For readability, please follow common conventions
 * whenever editing this file:
 *  - Nest elements wherever it makes sense.
 *  - It should almost never be necessary to nest ID
 *    selectors. Doing so can decrease browser
 *    performance.
 *  - Styles at the top of the site should be at the
 *    top of this file. Styles at the bottom of the
 *    site should be at the bottom of this file.
 *  - Each CSS attribute should be listed on its own
 *    line.
 *  - Do not include any attributes on the line with
 *    the CSS selector
 *  - If a rule has multiple selectors, list them each
 *    on their own line.
 *  - Indent attributes and nested selectors using
 *    tabs. The closing tag should have the same number
 *    of tabs as the opening tag for each selector.
 *  - If you discover that you are commonly re-using the
 *    same rules or attributes, add them as a variable
 *    or separate class and use the variable or class
 *    instead of re-writing it.
 */



/*** GENERAL STYLES ***/
html {
	overflow: inherit !important;
}
.row-fluid .widget-span+.widget-span {
	@media#{$mobile}{
		margin: 0;
	}
}
img {max-width:100%;}

div {
	box-sizing: border-box;
}

.blue-text, .blue-text p, .blue-text label, .blue-text h3 {
	color: $dark-blue;
}


.btn {
	border-radius: 0px;
	background-color: $white;
	border-color: $white;
	color: $white;
	text-decoration: none;
	font-size: 1.1em;
	padding: 12px 40px;

	&:hover {
		background-color: lighten($white,5%);
		color: $white;
	}

	&.cta {
		margin: 20px 0;
		background-color: $white;
		border-color: $white;
		color: $white;
		font-weight: $bold;
		text-transform: uppercase;

		&:hover {
			background-color: darken($white, 5%);
			border-color: darken($white, 5%);
			color: $white;
		}
	}
	&.white {
		background-color: $white;
		color: $black;
		border-color: $white;
		font-weight: $bold;

		&:hover {
			background-color: $white;
		}
	}

	&.red-gradient {
		text-decoration: none;
		background-image: linear-gradient(to right,$red 0%,$orange 100%);
		background-image: -webkit-linear-gradient(to right,$red 0%,$orange 100%);
		background-repeat: repeat-x;
		border-radius: 0;
		padding: 10px 15px;
		color: $white;
		text-transform: none;

		&:hover {
			background-color: $orange;
		}
	}
	&.blue {
		text-decoration: none;
		background-color: $blue;
		background-repeat: repeat-x;
		border-radius: 0;
		padding: 10px 15px;
		color: $white;
		text-transform: none;

		&:hover {
			background-color: $dark-blue;
		}
	}
}

.hs-button {
	display: inline-block;
    color: #fff;
    line-height: 23px;
    outline: 0;
    padding: 1rem 1.5em;
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-size: 1.5rem;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 5px;
    background: #005292;
    border: 1px solid #005292;
    cursor: pointer;
    margin-top: 2rem;

		&:hover {
			background-color: $dark-blue;
		}
}
form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form textarea, .hs-form select {
    width: 100% !important;
    border: 3px solid #e6e6e6;
    line-height: 16px;
    outline: 0;
    border-radius: 0;
    -webkit-transition: .2s border-color;
    transition: .2s border-color;
    padding: 5px;
    height: 45px !important;
}
.header-utility {
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
	}
.btn-large {
	@extend .btn;
	padding: 20px 100px;
	font-size: 1.3em;
	margin: 30px 0;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	position: relative;

	&:after {
		content: "";
		clear:both;
		display:block;
	}

	&.narrow {
		width: $tabletwidth + 2px;
		@media #{$desktopwide} {
			width: $tabletwidth + 2px;
		}
		@media #{$tablet} {
			width: $tabletwidth - 20px;
		}
		@media #{$phonewide} {
			width: $phonewidth - 20px;
		}
		@media #{$phonenarrow} {
			width: 100%;
		}
	}

	&.medium {
		width: $desktopwidewidth - 225px;
		@media #{$desktopwide} {
			width: $desktopwidewidth - 225px;
		}
		@media #{$tablet} {
			width: $tabletwidth - 20px;
		}
		@media #{$phonewide} {
			width: $phonewidth - 20px;
		}
		@media #{$phonenarrow} {
			width: 100%;
		}
	}

	&.nopad {
		padding: 0;

		@media #{$desktopwide} {
			padding: 0;
		}
		@media #{$tablet} {
			padding: 0;
		}
		@media #{$phonewide} {
			padding: 0;
		}
		@media #{$phonenarrow} {
			padding: 0;
		}
	}
}

.dark-blue-bg {
	background-color: $dark-blue;
	color:$white;
}
.white-bg {
	background-color: $white;
}
.light-grey-bg {
	background-color: $light-grey;
}

.team-headline {
	text-transform: uppercase;
	color: $dark-blue;
	font-size: 41px;
	font-family: $primaryFont;
	margin-top: 100px;
	text-align: center;

}



/*** END GENERAL STYLES ***/


/*** HEADER STYLES ***/



/*** END HEADER STYLES ***/


/*** PAGE STRUCTURE ***/


/*** END PAGE STRUCTURE ***/


/*** FOOTER STYLES ***/

/*** END FOOTER STYLES ***/
