//********************** SITE ROOT **********************/
// Necessary for SCSS since the stylesheet is hosted on a different server than the images.
// This is also useful for quickly and easily changing URLs from a development to production domain.
$rooturl: "/";

//********************** COLORS **********************/
// Define your own colors here for each template
$variable-black: #000000;
$black: $variable-black;
$grey: #727272;
$white: #ffffff;
$light-grey: #F4F4F4;
$cream: #F8FFE6;
$orange:#ff6307;
$red: red;
$light-blue: #CFF6F7;
$blue: #00518E;
$dark-blue: #003955;
$red: #FF0007;
$red-gradient: linear-gradient(to right,$red 0%,$orange 100%);
$blue-gradient: linear-gradient(to right,$light-blue 0%,$cream 100%);
$green: #72C64E;


//********************** FONTS **********************/
// Define your own fonts here for each template
$primaryFont: "Bebas Neue",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
$secondaryFont: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;


//********************** DEFAULTS **********************/
// This is where you should override default bootstrap variables (such as $textColor, $baseFontFamily, $baseFontSize, etc...)
$regular: normal;
$bold: bold;

// For a list of variables and their defaults, open bootstrap/_variables.scss


//********************** MEDIA BREAKPOINTS **********************/
$desktopwidewidth: 1200px;
$desktopwidth: 980px;
$tabletwidth: 768px;
$phonewidth: 481px;
$iphonewidth: 320px;

$desktopmaxwidth: $desktopwidewidth -1;
$tabletmaxwidth: $desktopwidth - 1;
$phonemaxwidth: $tabletwidth - 1;
$phonenarrowwidth: $phonewidth - 1;

//********************** MEDIA QUERIES **********************/
$desktopwide: "only screen and (min-width: #{$desktopwidewidth})";
$tablet: "only screen and (min-width: #{$tabletwidth}) and (max-width: #{$tabletmaxwidth})";
$phonewide: "only screen and (min-width: #{$phonewidth}) and (max-width: #{$phonemaxwidth})";
$phonenarrow: "only screen and (max-width: #{$phonenarrowwidth})";
$iphone: "only screen and (max-width: #{$iphonewidth})";

//********************** MEDIA SHORTCUTS **********************/
$mobile: "only screen and (max-width: #{$tabletmaxwidth})";
$phone: "only screen and (max-width: #{$phonemaxwidth})";

//********************** RETINA QUERY **********************/
//$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)";
//We should use Bourbon's HIDPI-media-query functionality for retina-display instead of our own media query
