/*
 * _common_classes.scss
 * This scss file should be used to include common classes
 * which can be used in multiple locations throughout the
 * site. Each common class or group of classes should be
 * declared in its own scss file and included here.
 *
 * Bonus if you include a comment in the top of your scss
 * files describing what the classes are for and how to
 * structure your code to use them.
 */
/*
 * _global.scss
 * This scss file should be used to declare styles that
 * are used across the entire site.
 *
 * This should NOT include common classes that may be
 * used in various pages or sections. However, the common
 * classes are included before this file, so they may be
 * used to apply the same style to certain elements on
 * every page here.
 *
 * For readability, please follow common conventions
 * whenever editing this file:
 *  - Nest elements wherever it makes sense.
 *  - It should almost never be necessary to nest ID
 *    selectors. Doing so can decrease browser
 *    performance.
 *  - Styles at the top of the site should be at the
 *    top of this file. Styles at the bottom of the
 *    site should be at the bottom of this file.
 *  - Each CSS attribute should be listed on its own
 *    line.
 *  - Do not include any attributes on the line with
 *    the CSS selector
 *  - If a rule has multiple selectors, list them each
 *    on their own line.
 *  - Indent attributes and nested selectors using
 *    tabs. The closing tag should have the same number
 *    of tabs as the opening tag for each selector.
 *  - If you discover that you are commonly re-using the
 *    same rules or attributes, add them as a variable
 *    or separate class and use the variable or class
 *    instead of re-writing it.
 */
/*** GENERAL STYLES ***/
@media only screen and (max-width: 979px) {
  .row-fluid .widget-span + .widget-span {
    margin: 0; } }

img {
  max-width: 100%; }

div {
  box-sizing: border-box; }

.blue-text, .blue-text p, .blue-text label, .blue-text h3 {
  color: #003955; }

.btn, .btn-large {
  border-radius: 0px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 12px 40px; }
  .btn:hover, .btn-large:hover {
    background-color: white;
    color: #ffffff; }
  .btn.cta, .cta.btn-large {
    margin: 20px 0;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; }
    .btn.cta:hover, .cta.btn-large:hover {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
      color: #ffffff; }
  .btn.white, .white.btn-large {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    font-weight: bold; }
    .btn.white:hover, .white.btn-large:hover {
      background-color: #ffffff; }
  .btn.red-gradient, .red-gradient.btn-large {
    text-decoration: none;
    background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-image: -webkit-linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 10px 15px;
    color: #ffffff;
    text-transform: none; }
    .btn.red-gradient:hover, .red-gradient.btn-large:hover {
      background-color: #ff6307; }
  .btn.blue, .blue.btn-large {
    text-decoration: none;
    background-color: #00518E;
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 10px 15px;
    color: #ffffff;
    text-transform: none; }
    .btn.blue:hover, .blue.btn-large:hover {
      background-color: #003955; }

.hs-button {
  display: inline-block;
  color: #fff;
  line-height: 23px;
  outline: 0;
  padding: 1rem 1.5em;
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-size: 1.5rem;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
  background: #005292;
  border: 1px solid #005292;
  cursor: pointer;
  margin-top: 2rem; }
  .hs-button:hover {
    background-color: #003955; }

form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form textarea, .hs-form select {
  width: 100% !important;
  border: 3px solid #e6e6e6;
  line-height: 16px;
  outline: 0;
  border-radius: 0;
  -webkit-transition: .2s border-color;
  transition: .2s border-color;
  padding: 5px;
  height: 45px !important; }

.header-utility {
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4; }

.btn-large {
  padding: 20px 100px;
  font-size: 1.3em;
  margin: 30px 0; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }
  .container:after {
    content: "";
    clear: both;
    display: block; }
  .container.narrow {
    width: 770px; }
    @media only screen and (min-width: 1200px) {
      .container.narrow {
        width: 770px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.narrow {
        width: 748px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.narrow {
        width: 461px; } }
    @media only screen and (max-width: 480px) {
      .container.narrow {
        width: 100%; } }
  .container.medium {
    width: 975px; }
    @media only screen and (min-width: 1200px) {
      .container.medium {
        width: 975px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.medium {
        width: 748px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.medium {
        width: 461px; } }
    @media only screen and (max-width: 480px) {
      .container.medium {
        width: 100%; } }
  .container.nopad {
    padding: 0; }
    @media only screen and (min-width: 1200px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (max-width: 480px) {
      .container.nopad {
        padding: 0; } }

.dark-blue-bg {
  background-color: #003955;
  color: #ffffff; }

.white-bg {
  background-color: #ffffff; }

.light-grey-bg {
  background-color: #F4F4F4; }

.headline {
  text-transform: uppercase;
  color: #003955;
  font-size: 41px;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 100px;
  text-align: center; }

/*** END GENERAL STYLES ***/
/*** HEADER STYLES ***/
/*** END HEADER STYLES ***/
/*** PAGE STRUCTURE ***/
/*** END PAGE STRUCTURE ***/
/*** FOOTER STYLES ***/
/*** END FOOTER STYLES ***/
/*
 * _modules.scss
 * This scss file should be used to include styles for
 * specific modules on the site. Each modules or logical
 * group of modules should be declared in its own scss
 * file in the modules directory and included here.
 *
 * Bonus if you include a comment in the top of your scss
 * files describing what the classes are for and how to
 * structure your code to use them.
 */
#site-header {
  background-color: #ffffff;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  transition: all 0.4s ease;
  z-index: 2; }
  #site-header a {
    text-decoration: none;
    color: #0071bd; }
  #site-header .site-header__logo {
    padding: 0; }
    @media (max-width: 419px) {
      #site-header .site-header__logo img {
        margin: 10px 0; } }
  #site-header .utility {
    background-color: #ffffff;
    display: block;
    overflow: hidden; }
    #site-header .utility .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      text-align: right; }
    #site-header .utility .phone {
      font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
      text-align: right;
      padding: 7px 0 0;
      margin-right: 0;
      float: none;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      color: #00518E;
      font-weight: bold;
      font-size: .9em; }

@media only screen and (max-width: 480px) {
  #site-header .utility .phone {
    display: block;
    text-align: center; } }
      #site-header .utility .phone a {
        color: #00518E;
        font-weight: 600; }
        #site-header .utility .phone a img {
          margin-right: 5px; }
        #site-header .utility .phone a:hover {
          text-decoration: none;
          color: #FF0007; }
  #site-header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    text-align: right; }

@media only screen and (max-width: 979px) {
  #site-header .header-content {
    padding-bottom: 20px; } }
    @media (max-width: 419px) {
      #site-header .header-content {
        padding-bottom: 0; } }

@media only screen and (max-width: 979px) {
  #site-header .header-content .span3 {
    width: 50%;
    text-align: left; } }
    @media (max-width: 419px) {
      #site-header .header-content .span3 {
        width: 100%;
        text-align: center; } }
    #site-header .header-content .row-fluid {
      width: 100%;
      margin: 0; }
      #site-header .header-content .row-fluid .logo {
        padding: 10px 0; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .logo {
    text-align: left; } }
        #site-header .header-content .row-fluid .logo img {
          transition: all 0.4s ease; }
      #site-header .header-content .row-fluid .header-mainnav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        flex-direction: row;
        padding-right: 0;
        text-align: right;
        float: right; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav {
    display: block;
    padding-right: 0;
    text-align: right;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    min-height: 0; } }
        @media (max-width: 419px) {
          #site-header .header-content .row-fluid .header-mainnav {
            text-align: center;
            float: none;
            min-height: 38px;
            margin: 10px 0; } }
        #site-header .header-content .row-fluid .header-mainnav .navbar {
          display: inline-block;
          text-align: left;
          padding-right: 10px;
          padding-left: 0;
          float: none;
          vertical-align: top;
          margin: 20px 0;
          font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar {
    display: none; } }
          #site-header .header-content .row-fluid .header-mainnav .navbar .nav {
            padding-top: 0;
            margin-top: 5px;
            float: right;
            padding: 0;
            margin: 0;
            list-style: none; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li {
              display: inline-block;
              float: left;
              padding: 0;
              margin: 0;
              position: relative; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a {
                border-bottom: 4px solid #ffffff;
                font-size: .8em;
                color: #003955;
                text-decoration: none;
                padding: 10px 10px 5px;
                display: block; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a {
    font-size: 1em; } }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:focus, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:hover, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a.current-menu-item {
                  cursor: pointer; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:focus a, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:hover a, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a.current-menu-item a {
                    text-decoration: none;
                    color: #0071bd;
                    cursor: pointer; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul {
                display: none;
                list-style: none;
                float: left;
                margin: 0; }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul li {
                  display: block;
                  width: 100%; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul li:hover {
                    background: #003955; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li.hs-item-has-children > a:after {
                color: #003955;
                content: '\f103';
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 10px;
                text-decoration: none;
                line-height: normal; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li.active a {
                border-bottom: 4px solid #003955; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover > a {
              border-bottom: 4px solid #003955;
              cursor: pointer; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul {
              background: #D3EDF2;
              padding: 0;
              width: 250px;
              position: absolute;
              top: 100%;
              display: block; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul {
    width: 280px; } }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li {
                border-bottom: 1px solid #00518E; }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a {
                  color: #003955;
                  font-size: .8em;
                  padding: 15px; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a:hover {
                    color: #ffffff;
                    text-decoration: none; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a {
    font-size: 1em; } }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li:last-child {
                  border: 0; }
        #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
          display: block;
          float: none;
          padding-top: 0;
          float: none;
          display: inline-block;
          vertical-align: top; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
    display: block; } }
          @media (max-width: 419px) {
            #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
              display: inline;
              text-align: center; } }
          #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
            padding: 10px 20px;
            font-size: 1em;
            border: 1px solid #003955;
            font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: #003955;
            text-transform: none; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
    width: 100% !important;
    background-color: #003955 !important;
    color: #ffffff !important;
    margin: 10px 0 !important;
    border-width: 2px;
    border-style: solid;
    color: #00518E !important;
    background-color: transparent !important;
    padding: 8px 15px !important;
    font-weight: 600;
    width: auto !important;
    letter-spacing: 0;
    position: absolute;
    right: 100px;
    top: 0; } }
            @media (max-width: 419px) {
              #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
                position: relative;
                padding: 10px 15px;
                display: inline;
                right: 0; } }
            #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn:hover, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large:hover {
              background-color: #003955 !important;
              color: #ffffff !important; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header {
    float: right;
    display: block;
    width: 100px; } }
  @media (max-width: 419px) {
    #site-header #mobile-header {
      float: none;
      display: inline;
      width: 100px;
      text-align: center; } }
  #site-header #mobile-header #simple-menu {
    display: none;
    text-decoration: none;
    background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header #simple-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 75px;
    text-align: center;
    float: right;
    margin: 10px;
    vertical-align: middle;
    padding: 10px; } }
    @media (max-width: 419px) {
      #site-header #mobile-header #simple-menu {
        position: relative;
        display: inline;
        right: 0;
        float: none; } }
    #site-header #mobile-header #simple-menu:hover {
      background: #00283c; }
  #site-header #mobile-header #close {
    margin: 15px;
    display: none;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    color: #000000; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header #close {
    display: block; } }

.sidr.right {
  background-color: #00518E;
  box-shadow: none;
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .sidr.right ul {
    border-bottom: 1px solid #004275;
    border-top: 1px solid #004275;
    margin: 0; }
    .sidr.right ul li {
      border-bottom: 1px solid #004275;
      border-top: 1px solid #004275;
      padding: 0; }
      .sidr.right ul li:hover {
        border-top: 1px solid #004275; }
        .sidr.right ul li:hover a {
          box-shadow: none; }
      .sidr.right ul li:active {
        border-top: 1px solid #004275; }
      .sidr.right ul li ul {
        border-top: 1px solid #004275; }
        .sidr.right ul li ul li:hover {
          border-top: 1px solid #004275; }
          .sidr.right ul li ul li:hover a {
            box-shadow: none; }
        .sidr.right ul li ul li:active {
          border-top: 1px solid #004275; }
        .sidr.right ul li ul li a {
          color: #ffffff; }
          .sidr.right ul li ul li a:hover {
            background: #0060a8; }
        .sidr.right ul li ul li p {
          display: none; }
        .sidr.right ul li ul li h4 {
          padding: 0;
          font-size: inherit;
          background: none;
          margin: 0;
          box-shadow: none; }
        .sidr.right ul li ul li .sidr-class-learn-more {
          display: none; }
      .sidr.right ul li a {
        padding: 15px;
        line-height: normal; }
        .sidr.right ul li a:hover {
          background: #0060a8; }
    .sidr.right ul .sidr-class-hs-item-has-children:hover {
      color: #ffffff;
      background: #003955; }
      .sidr.right ul .sidr-class-hs-item-has-children:hover a {
        cursor: default; }
    .sidr.right ul .sidr-class-hs-item-has-children ul li a:hover {
      cursor: pointer; }
  .sidr.right #sidr-id-close {
    margin: 15px;
    display: none;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    color: #000; }

@media only screen and (max-width: 979px) {
  .sidr.right #sidr-id-close {
    display: block; } }
    .sidr.right #sidr-id-close:hover {
      color: #ffffff;
      background-color: #003955; }

/* Store */
.header-utility__cart {
  display: flex !important;
  float: none !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center; }

@media only screen and (max-width: 767px) {
  .header-utility__cart {
    justify-content: center; } }

.header-utility a {
  margin-left: .5em;
  font-size: 14px; }

@media only screen and (max-width: 767px) {
  .header-utility a {
    text-align: center; } }

@media only screen and (max-width: 480px) {
  .header-utility a {
    font-size: 11px; } }
  .header-utility a:first-child {
    margin: 0; }
  .header-utility a span {
    margin-left: 0; }

.header-utility span {
  margin-left: .5em; }
  .header-utility span:first-child {
    margin: 0; }
  .header-utility span a {
    margin-left: 0; }

.disclaimer {
  background: #F4F4F4;
  color: #727272;
  padding: 30px 0;
  font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px; }

.footer {
  padding: 20px 0;
  font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif; }
  .footer .footer-content {
    padding: 20px 0;
    color: #00518E; }
    .footer .footer-content ul li a {
      padding-bottom: 13px; }
  @media (max-width: 1139px) and (min-width: 768px) {
    .footer .row-fluid .widget-span + .widget-span {
      margin-left: 4%; } }
  .footer .social-icons {
    margin: 15px 0; }
    .footer .social-icons ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .footer .social-icons ul li {
        display: inline;
        float: left;
        margin: 0 10px; }
        .footer .social-icons ul li a {
          display: block;
          float: none;
          padding: 5px 10px;
          border: 1px solid;
          border-radius: 30px;
          height: 35px;
          width: 36px;
          vertical-align: middle;
          background: #ffffff; }
          .footer .social-icons ul li a.facebook {
            color: #507CB9;
            border-color: #507CB9; }
            .footer .social-icons ul li a.facebook:hover {
              color: #ffffff;
              background: #507CB9; }
          .footer .social-icons ul li a.pinterest {
            color: #EC5F5D;
            border-color: #EC5F5D; }
            .footer .social-icons ul li a.pinterest:hover {
              color: #ffffff;
              background: #EC5F5D; }
          .footer .social-icons ul li a.twitter {
            color: #64C7EA;
            border-color: #64C7EA; }
            .footer .social-icons ul li a.twitter:hover {
              color: #ffffff;
              background: #64C7EA; }
          .footer .social-icons ul li a.linkedin {
            color: #1182C4;
            border-color: #1182C4; }
            .footer .social-icons ul li a.linkedin:hover {
              color: #ffffff;
              background: #1182C4; }
          .footer .social-icons ul li a.instagram {
            color: #d6249f;
            border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
            .footer .social-icons ul li a.instagram:hover {
              color: #ffffff;
              background: #d6249f; }
  .footer .copyright {
    padding: 20px 0;
    text-align: center;
    color: #959595; }

.hero-two-col-img-vid {
  padding: 70px 0;
  background-size: cover;
  background-position: top center;
  min-height: 500px;
  height: 500px;
  border-top: 3px solid #B6C0C6; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid {
    height: inherit; } }
  .hero-two-col-img-vid.short-hero {
    min-height: 250px;
    height: 250px;
    border-top: 3px solid #B6C0C6;
    border-bottom: 3px solid #B6C0C6; }
  .hero-two-col-img-vid.no-padding-bottom {
    padding-bottom: 0; }
  .hero-two-col-img-vid.row-fluid {
    width: 100%;
    *zoom: 1; }
  .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid.row-fluid:after {
    clear: both; }
  .hero-two-col-img-vid.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
    margin-left: 0; }
  .hero-two-col-img-vid.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%; }
  .hero-two-col-img-vid.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%; }
  .hero-two-col-img-vid.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%; }
  .hero-two-col-img-vid.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%; }
  .hero-two-col-img-vid.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%; }
  .hero-two-col-img-vid.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%; }
  .hero-two-col-img-vid.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%; }
  .hero-two-col-img-vid.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%; }
  .hero-two-col-img-vid.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%; }
  .hero-two-col-img-vid.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%; }
  .hero-two-col-img-vid.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%; }
  .hero-two-col-img-vid.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%; }
  .hero-two-col-img-vid .container-fluid {
    *zoom: 1; }
  .hero-two-col-img-vid .container-fluid:before, .hero-two-col-img-vid .container-fluid:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid .container-fluid:after {
    clear: both; }
  @media (max-width: 767px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: none;
      width: auto;
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%;
      *zoom: 1; }
    .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
      display: table;
      content: ""; }
    .hero-two-col-img-vid.row-fluid:after {
      clear: both; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.762430939%;
      *margin-left: 2.709239449638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .hero-two-col-img-vid.row-fluid .span12 {
      width: 99.999999993%;
      *width: 99.9468085036383%; }
    .hero-two-col-img-vid.row-fluid .span11 {
      width: 91.436464082%;
      *width: 91.38327259263829%; }
    .hero-two-col-img-vid.row-fluid .span10 {
      width: 82.87292817100001%;
      *width: 82.8197366816383%; }
    .hero-two-col-img-vid.row-fluid .span9 {
      width: 74.30939226%;
      *width: 74.25620077063829%; }
    .hero-two-col-img-vid.row-fluid .span8 {
      width: 65.74585634900001%;
      *width: 65.6926648596383%; }
    .hero-two-col-img-vid.row-fluid .span7 {
      width: 57.182320438000005%;
      *width: 57.129128948638304%; }
    .hero-two-col-img-vid.row-fluid .span6 {
      width: 48.618784527%;
      *width: 48.5655930376383%; }
    .hero-two-col-img-vid.row-fluid .span5 {
      width: 40.055248616%;
      *width: 40.0020571266383%; }
    .hero-two-col-img-vid.row-fluid .span4 {
      width: 31.491712705%;
      *width: 31.4385212156383%; }
    .hero-two-col-img-vid.row-fluid .span3 {
      width: 22.928176794%;
      *width: 22.874985304638297%; }
    .hero-two-col-img-vid.row-fluid .span2 {
      width: 14.364640883%;
      *width: 14.311449393638298%; }
    .hero-two-col-img-vid.row-fluid .span1 {
      width: 5.801104972%;
      *width: 5.747913482638298%; } }
  @media (min-width: 1280px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%;
      *zoom: 1; }
    .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
      display: table;
      content: ""; }
    .hero-two-col-img-vid.row-fluid:after {
      clear: both; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.564102564%;
      *margin-left: 2.510911074638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .hero-two-col-img-vid.row-fluid .span12 {
      width: 100%;
      *width: 99.94680851063829%; }
    .hero-two-col-img-vid.row-fluid .span11 {
      width: 91.45299145300001%;
      *width: 91.3997999636383%; }
    .hero-two-col-img-vid.row-fluid .span10 {
      width: 82.905982906%;
      *width: 82.8527914166383%; }
    .hero-two-col-img-vid.row-fluid .span9 {
      width: 74.358974359%;
      *width: 74.30578286963829%; }
    .hero-two-col-img-vid.row-fluid .span8 {
      width: 65.81196581200001%;
      *width: 65.7587743226383%; }
    .hero-two-col-img-vid.row-fluid .span7 {
      width: 57.264957265%;
      *width: 57.2117657756383%; }
    .hero-two-col-img-vid.row-fluid .span6 {
      width: 48.717948718%;
      *width: 48.6647572286383%; }
    .hero-two-col-img-vid.row-fluid .span5 {
      width: 40.170940171000005%;
      *width: 40.117748681638304%; }
    .hero-two-col-img-vid.row-fluid .span4 {
      width: 31.623931624%;
      *width: 31.5707401346383%; }
    .hero-two-col-img-vid.row-fluid .span3 {
      width: 23.076923077%;
      *width: 23.0237315876383%; }
    .hero-two-col-img-vid.row-fluid .span2 {
      width: 14.529914530000001%;
      *width: 14.4767230406383%; }
    .hero-two-col-img-vid.row-fluid .span1 {
      width: 5.982905983%;
      *width: 5.929714493638298%; } }
  .hero-two-col-img-vid .clearfix {
    *zoom: 1; }
  .hero-two-col-img-vid .clearfix:before, .hero-two-col-img-vid .clearfix:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid .clearfix:after {
    clear: both; }
  .hero-two-col-img-vid .hide {
    display: none; }
  .hero-two-col-img-vid .show {
    display: block; }
  .hero-two-col-img-vid .invisible {
    visibility: hidden; }
  .hero-two-col-img-vid .hidden {
    display: none;
    visibility: hidden; }
  .hero-two-col-img-vid .visible-phone {
    display: none !important; }
  .hero-two-col-img-vid .visible-tablet {
    display: none !important; }
  .hero-two-col-img-vid .hidden-desktop {
    display: none !important; }
  @media (max-width: 767px) {
    .hero-two-col-img-vid .visible-phone {
      display: inherit !important; }
    .hero-two-col-img-vid .hidden-phone {
      display: none !important; }
    .hero-two-col-img-vid .hidden-desktop {
      display: inherit !important; }
    .hero-two-col-img-vid .visible-desktop {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .hero-two-col-img-vid .visible-tablet {
      display: inherit !important; }
    .hero-two-col-img-vid .hidden-tablet {
      display: none !important; }
    .hero-two-col-img-vid .hidden-desktop {
      display: inherit !important; }
    .hero-two-col-img-vid .visible-desktop {
      display: none !important; } }

@media only screen and (max-width: 767px) {
  .hero-two-col-img-vid {
    text-align: center; } }
  .hero-two-col-img-vid .video-overlay {
    position: relative;
    display: inline-block;
    border: 1px solid green; }
    .hero-two-col-img-vid .video-overlay * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid .video-overlay img {
      z-index: 9;
      text-align: center;
      display: block;
      max-width: 100%;
      height: auto; }
    .hero-two-col-img-vid .video-overlay .image-overlay {
      background: url("https://cdn2.hubspot.net/hubfs/2126713/images/video-overlay.png") no-repeat center center;
      position: absolute;
      z-index: 10;
      background-size: cover;
      top: 0;
      display: block;
      width: 100%;
      height: 100%; }
  .hero-two-col-img-vid img {
    display: block;
    max-width: 100%;
    height: auto; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid img {
    margin: 0 auto; } }
  .hero-two-col-img-vid .popup-box {
    width: 100%;
    height: 100%;
    background: #f6eee1;
    top: 0;
    left: 0;
    z-index: 99999999 !important;
    transition: all 1s ease-in-out;
    opacity: 1;
    padding: 2%;
    overflow: scroll;
    position: fixed;
    z-index: 3;
    background: rgba(255, 255, 254, 0.98);
    font-size: 15px;
    cursor: pointer;
    border: 3px solid #ccc; }
    .hero-two-col-img-vid .popup-box .close-btn {
      width: 40px;
      height: 40px;
      position: fixed;
      right: 20px;
      top: 20px; }
  .hero-two-col-img-vid .text h1 {
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 0;
    color: #003955;
    margin-top: 20px; }

@media only screen and (min-width: 1200px) {
  .hero-two-col-img-vid .text h1 {
    font-size: 57px; } }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid .text h1 {
    font-size: 45px;
    margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .hero-two-col-img-vid .text h1 {
    padding: 0 50px;
    margin-top: 30px; } }

@media only screen and (max-width: 480px) {
  .hero-two-col-img-vid .text h1 {
    padding: 0; } }
  .hero-two-col-img-vid .text h2 {
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #003955;
    font-size: 24px;
    line-height: 1.5em; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid .text h2 {
    font-size: 20px; } }
  .hero-two-col-img-vid .text .page-btn {
    margin-top: 10px; }

.two-col-flex {
  display: block;
  overflow: hidden; }
  .two-col-flex.dark-blue-bg {
    background-color: #003955; }
  .two-col-flex.white-bg {
    background-color: #ffffff; }
  .two-col-flex.light-grey-bg {
    background-color: #F4F4F4; }
  .two-col-flex.row-fluid {
    width: 100%;
    *zoom: 1; }
  .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
    display: table;
    content: ""; }
  .two-col-flex.row-fluid:after {
    clear: both; }
  .two-col-flex.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .two-col-flex.row-fluid [class*="span"]:first-child {
    margin-left: 0; }
  .two-col-flex.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%; }
  .two-col-flex.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%; }
  .two-col-flex.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%; }
  .two-col-flex.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%; }
  .two-col-flex.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%; }
  .two-col-flex.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%; }
  .two-col-flex.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%; }
  .two-col-flex.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%; }
  .two-col-flex.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%; }
  .two-col-flex.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%; }
  .two-col-flex.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%; }
  .two-col-flex.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%; }
  .two-col-flex .container-fluid {
    *zoom: 1; }
  .two-col-flex .container-fluid:before, .two-col-flex .container-fluid:after {
    display: table;
    content: ""; }
  .two-col-flex .container-fluid:after {
    clear: both; }
  @media (max-width: 767px) {
    .two-col-flex.row-fluid {
      width: 100%; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: none;
      width: auto;
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .two-col-flex.row-fluid {
      width: 100%;
      *zoom: 1; }
    .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
      display: table;
      content: ""; }
    .two-col-flex.row-fluid:after {
      clear: both; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.762430939%;
      *margin-left: 2.709239449638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .two-col-flex.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .two-col-flex.row-fluid .span12 {
      width: 99.999999993%;
      *width: 99.9468085036383%; }
    .two-col-flex.row-fluid .span11 {
      width: 91.436464082%;
      *width: 91.38327259263829%; }
    .two-col-flex.row-fluid .span10 {
      width: 82.87292817100001%;
      *width: 82.8197366816383%; }
    .two-col-flex.row-fluid .span9 {
      width: 74.30939226%;
      *width: 74.25620077063829%; }
    .two-col-flex.row-fluid .span8 {
      width: 65.74585634900001%;
      *width: 65.6926648596383%; }
    .two-col-flex.row-fluid .span7 {
      width: 57.182320438000005%;
      *width: 57.129128948638304%; }
    .two-col-flex.row-fluid .span6 {
      width: 48.618784527%;
      *width: 48.5655930376383%; }
    .two-col-flex.row-fluid .span5 {
      width: 40.055248616%;
      *width: 40.0020571266383%; }
    .two-col-flex.row-fluid .span4 {
      width: 31.491712705%;
      *width: 31.4385212156383%; }
    .two-col-flex.row-fluid .span3 {
      width: 22.928176794%;
      *width: 22.874985304638297%; }
    .two-col-flex.row-fluid .span2 {
      width: 14.364640883%;
      *width: 14.311449393638298%; }
    .two-col-flex.row-fluid .span1 {
      width: 5.801104972%;
      *width: 5.747913482638298%; } }
  @media (min-width: 1280px) {
    .two-col-flex.row-fluid {
      width: 100%;
      *zoom: 1; }
    .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
      display: table;
      content: ""; }
    .two-col-flex.row-fluid:after {
      clear: both; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.564102564%;
      *margin-left: 2.510911074638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .two-col-flex.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .two-col-flex.row-fluid .span12 {
      width: 100%;
      *width: 99.94680851063829%; }
    .two-col-flex.row-fluid .span11 {
      width: 91.45299145300001%;
      *width: 91.3997999636383%; }
    .two-col-flex.row-fluid .span10 {
      width: 82.905982906%;
      *width: 82.8527914166383%; }
    .two-col-flex.row-fluid .span9 {
      width: 74.358974359%;
      *width: 74.30578286963829%; }
    .two-col-flex.row-fluid .span8 {
      width: 65.81196581200001%;
      *width: 65.7587743226383%; }
    .two-col-flex.row-fluid .span7 {
      width: 57.264957265%;
      *width: 57.2117657756383%; }
    .two-col-flex.row-fluid .span6 {
      width: 48.717948718%;
      *width: 48.6647572286383%; }
    .two-col-flex.row-fluid .span5 {
      width: 40.170940171000005%;
      *width: 40.117748681638304%; }
    .two-col-flex.row-fluid .span4 {
      width: 31.623931624%;
      *width: 31.5707401346383%; }
    .two-col-flex.row-fluid .span3 {
      width: 23.076923077%;
      *width: 23.0237315876383%; }
    .two-col-flex.row-fluid .span2 {
      width: 14.529914530000001%;
      *width: 14.4767230406383%; }
    .two-col-flex.row-fluid .span1 {
      width: 5.982905983%;
      *width: 5.929714493638298%; } }
  .two-col-flex .clearfix {
    *zoom: 1; }
  .two-col-flex .clearfix:before, .two-col-flex .clearfix:after {
    display: table;
    content: ""; }
  .two-col-flex .clearfix:after {
    clear: both; }
  .two-col-flex .hide {
    display: none; }
  .two-col-flex .show {
    display: block; }
  .two-col-flex .invisible {
    visibility: hidden; }
  .two-col-flex .hidden {
    display: none;
    visibility: hidden; }
  .two-col-flex .visible-phone {
    display: none !important; }
  .two-col-flex .visible-tablet {
    display: none !important; }
  .two-col-flex .hidden-desktop {
    display: none !important; }
  @media (max-width: 767px) {
    .two-col-flex .visible-phone {
      display: inherit !important; }
    .two-col-flex .hidden-phone {
      display: none !important; }
    .two-col-flex .hidden-desktop {
      display: inherit !important; }
    .two-col-flex .visible-desktop {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .two-col-flex .visible-tablet {
      display: inherit !important; }
    .two-col-flex .hidden-tablet {
      display: none !important; }
    .two-col-flex .hidden-desktop {
      display: inherit !important; }
    .two-col-flex .visible-desktop {
      display: none !important; } }
  .two-col-flex.background-right-position .content-flex {
    background-position: right center; }
  .two-col-flex .container-fluid {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: row; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid {
    flex-direction: column; } }
    .two-col-flex .container-fluid .content-flex {
      -ms-flex: 1.5;
      flex: 1.5;
      padding: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: inherit;
      padding-top: 50px;
      padding-bottom: 50px;
      height: inherit; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    overflow: hidden; } }
      .two-col-flex .container-fluid .content-flex.span5 {
        -ms-flex: 1;
        flex: 1; }
        .two-col-flex .container-fluid .content-flex.span5.content-left {
          padding-left: 50px; }

@media only screen and (min-width: 1200px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 150px; } }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 20px; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 0; } }
        .two-col-flex .container-fluid .content-flex.span5.content-right {
          padding-right: 50px;
          padding-top: 80px; }

@media only screen and (min-width: 1200px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 150px; } }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 20px;
    padding-top: inherit; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 0; } }
      .two-col-flex .container-fluid .content-flex.blue-text h3, .two-col-flex .container-fluid .content-flex.blue-text p {
        color: #003955; }
      .two-col-flex .container-fluid .content-flex.white-text h3, .two-col-flex .container-fluid .content-flex.white-text p {
        color: #ffffff; }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex {
    padding: 0; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex {
    background-image: none !important;
    padding: 0;
    flex: none;
    order: 2; } }
      .two-col-flex .container-fluid .content-flex.right {
        order: 1; }
      .two-col-flex .container-fluid .content-flex .content {
        display: block;
        overflow: hidden; }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex .content {
    margin: 30px auto 40px;
    padding: 0 30px;
    max-width: 500px; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex .content {
    margin: 30px auto 40px;
    padding: 0 20px;
    max-width: 100%; } }
      .two-col-flex .container-fluid .content-flex b, .two-col-flex .container-fluid .content-flex strong {
        font-weight: 800; }
      .two-col-flex .container-fluid .content-flex h3 {
        line-height: 1.4em;
        margin-bottom: 20px;
        font-size: 1.35em; }
      .two-col-flex .container-fluid .content-flex p {
        font-size: .95em; }
      .two-col-flex .container-fluid .content-flex .page-btn {
        margin-top: 15px;
        text-align: center; }
      .two-col-flex .container-fluid .content-flex .visible-mobile {
        display: none; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex .visible-mobile {
    display: block; } }
        .two-col-flex .container-fluid .content-flex .visible-mobile img {
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          display: block; }

section#food_list_section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
  background: white;
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), -moz-linear-gradient(45deg, white 0%, white 100%);
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), -webkit-linear-gradient(45deg, white 0%, white 100%);
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), linear-gradient(45deg, white 0%, white 100%);
  background-repeat: no-repeat;
  background-position: top center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #003955; }
  section#food_list_section .food-list-head {
    margin-bottom: 100px; }
    section#food_list_section .food-list-head .top-copy .headline {
      font-size: 41px;
      color: #003955;
      font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
      text-align: center;
      margin: 0 auto;
      padding-top: 80px; }
      @media (max-width: 450px) {
        section#food_list_section .food-list-head .top-copy .headline {
          padding-top: 30px;
          font-size: 35px; } }
    section#food_list_section .food-list-head .top-copy .copy {
      max-width: 450px;
      margin: 0 auto; }
    section#food_list_section .food-list-head .top-copy .list-button-container {
      margin: 40px 0 0 0;
      text-align: center; }
      @media (max-width: 450px) {
        section#food_list_section .food-list-head .top-copy .list-button-container {
          margin: 40px 0 0 0; } }
      section#food_list_section .food-list-head .top-copy .list-button-container a.list-button {
        margin: auto;
        text-align: center;
        padding: 10px 0;
        color: #FF0007;
        border-left: 1px solid #FF0007;
        border-right: 1px solid #ff6307;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-image: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%), -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%), -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: -o-linear-gradient(left, #FF0007 0%, #ff6307 100%), -o-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%), linear-gradient(to right, #FF0007 0%, #ff6307 100%);
        padding: 10px 45px;
        display: inline-block;
        font-size: .95em;
        font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
        cursor: pointer; }
        section#food_list_section .food-list-head .top-copy .list-button-container a.list-button:hover {
          color: #ffffff !important;
          background: #ff0007;
          background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%);
          background: -webkit-linear-gradient(left, #ff0007 0%, #ff6307 100%);
          background: linear-gradient(to right, #ff0007 0%, #ff6307 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 ); }
  section#food_list_section #myDIV {
    display: none;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out; }
    section#food_list_section #myDIV .food-list .right-list .sides {
      margin-bottom: 50px; }
    section#food_list_section #myDIV .disclaim {
      clear: both;
      margin-bottom: 70px;
      padding-top: 40px; }
  section#food_list_section h2.food-headline {
    color: #003955;
    font-size: 24px;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }
  section#food_list_section ul {
    list-style: none; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

.two-col-img.dark-blue-bg {
  background-color: #003955; }
  .two-col-img.dark-blue-bg .text h3 {
    color: #ffffff; }
  .two-col-img.dark-blue-bg .text p {
    color: #ffffff; }
  .two-col-img.dark-blue-bg .text .btn, .two-col-img.dark-blue-bg .text .btn-large {
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 10px 45px;
    display: block;
    font-size: .95em;
    text-align: center;
    max-width: 250px;
    border: 1px solid #ffffff; }
    .two-col-img.dark-blue-bg .text .btn:hover, .two-col-img.dark-blue-bg .text .btn-large:hover {
      background: #ff6307; }

.one-col-full {
  padding: 70px 0 70px 0; }

section.team_section {
  padding: 50px 0 100px; }
  section.team_section .three-image-container .images-section {
    max-width: 860px;
    margin: auto; }
    section.team_section .three-image-container .images-section .image-container {
      position: relative;
      padding: 10px; }
      @media only screen and (min-width: 768px) and (max-width: 979px) {
        section.team_section .three-image-container .images-section .image-container {
          padding: 0; } }
      @media only screen and (max-width: 979px) {
        section.team_section .three-image-container .images-section .image-container {
          padding: 0;
          text-align: center; } }
      section.team_section .three-image-container .images-section .image-container img {
        height: auto; }
      section.team_section .three-image-container .images-section .image-container .button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border-radius: 0;
        padding: 30px 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
        background: #d0f7f8;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        max-width: 252px;
        min-width: 252px;
        text-align: center; }
        @media only screen and (min-width: 768px) and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .button {
            display: none !important; } }
        @media only screen and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .button {
            display: none !important; } }
        section.team_section .three-image-container .images-section .image-container .button a.bio-button {
          font-size: 15.5px;
          color: #003955;
          font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
          cursor: pointer; }
      section.team_section .three-image-container .images-section .image-container .littleName {
        display: none; }
        @media only screen and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            display: block; } }
        @media (min-width: 768px) and (max-width: 991px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            color: #003955;
            padding: 20px 0;
            text-align: center;
            background: #d0f7f8;
            /* Old browsers */
            background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
            margin: 0 auto;
            width: auto; } }
        @media (max-width: 767px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            color: #003955;
            padding: 20px 0;
            text-align: center;
            background: #d0f7f8;
            /* Old browsers */
            background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
            margin: 0 auto 40px;
            max-width: 252px !important; } }
        section.team_section .three-image-container .images-section .image-container .littleName a.lil-button {
          font-size: 15.5px;
          color: #003955;
          font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
          cursor: pointer; }
  section.team_section .arrow_box {
    position: relative;
    padding: 10px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: #d0f7f8;
    background-image: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    background-image: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    background-image: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 ); }
    section.team_section .arrow_box:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    section.team_section .arrow_box:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #d0f7f8;
      border-width: 26px;
      margin-left: -26px; }
  section.team_section .bio-section {
    margin-top: 60px; }
    section.team_section .bio-section h3 {
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      padding-bottom: 10px;
      background-image: #d0f7f8;
      /* Old browsers */
      background-image: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* FF3.6-15 */
      background-image: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      margin-bottom: 20px; }
    section.team_section .bio-section p {
      color: #003955;
      font-size: 16px; }
  section.team_section .span4 {
    width: 31.491712705%;
    margin-left: 2.5%; }
    @media only screen and (min-width: 1200px) {
      section.team_section .span4 {
        width: 31.623931624%; } }
    @media (max-width: 767px) {
      section.team_section .span4 {
        width: auto !important;
        margin-left: 2.5% !important; } }
  section.team_section .span12 {
    width: 99.999999993%; }
    @media only screen and (min-width: 1200px) {
      section.team_section .span12 {
        width: 100%; } }

/*
 * _pages.scss
 * This file should be used to include page or section-specific
 * styles. Each page/section/component should have its own
 * scss file in the pages directory that is included from here.
 */
