/*
 * _common_classes.scss
 * This scss file should be used to include common classes
 * which can be used in multiple locations throughout the
 * site. Each common class or group of classes should be
 * declared in its own scss file and included here.
 *
 * Bonus if you include a comment in the top of your scss
 * files describing what the classes are for and how to
 * structure your code to use them.
 */
/*
 * _global.scss
 * This scss file should be used to declare styles that
 * are used across the entire site.
 *
 * This should NOT include common classes that may be
 * used in various pages or sections. However, the common
 * classes are included before this file, so they may be
 * used to apply the same style to certain elements on
 * every page here.
 *
 * For readability, please follow common conventions
 * whenever editing this file:
 *  - Nest elements wherever it makes sense.
 *  - It should almost never be necessary to nest ID
 *    selectors. Doing so can decrease browser
 *    performance.
 *  - Styles at the top of the site should be at the
 *    top of this file. Styles at the bottom of the
 *    site should be at the bottom of this file.
 *  - Each CSS attribute should be listed on its own
 *    line.
 *  - Do not include any attributes on the line with
 *    the CSS selector
 *  - If a rule has multiple selectors, list them each
 *    on their own line.
 *  - Indent attributes and nested selectors using
 *    tabs. The closing tag should have the same number
 *    of tabs as the opening tag for each selector.
 *  - If you discover that you are commonly re-using the
 *    same rules or attributes, add them as a variable
 *    or separate class and use the variable or class
 *    instead of re-writing it.
 */
/*** GENERAL STYLES ***/
html {
  overflow: inherit !important; }

@media only screen and (max-width: 979px) {
  .row-fluid .widget-span + .widget-span {
    margin: 0; } }

img {
  max-width: 100%; }

div {
  box-sizing: border-box; }

.blue-text, .blue-text p, .blue-text label, .blue-text h3 {
  color: #003955; }

.btn, .btn-large {
  border-radius: 0px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1em;
  padding: 12px 40px; }
  .btn:hover, .btn-large:hover {
    background-color: white;
    color: #ffffff; }
  .btn.cta, .cta.btn-large {
    margin: 20px 0;
    background-color: #ffffff;
    border-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase; }
    .btn.cta:hover, .cta.btn-large:hover {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
      color: #ffffff; }
  .btn.white, .white.btn-large {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
    font-weight: bold; }
    .btn.white:hover, .white.btn-large:hover {
      background-color: #ffffff; }
  .btn.red-gradient, .red-gradient.btn-large, .blog--resources.blog--single #sidebar .widget-type-blog_subscribe .hs-form input[type='submit'] {
    text-decoration: none;
    background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-image: -webkit-linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 10px 15px;
    color: #ffffff;
    text-transform: none; }
    .btn.red-gradient:hover, .red-gradient.btn-large:hover, .blog--resources.blog--single #sidebar .widget-type-blog_subscribe .hs-form input[type='submit']:hover {
      background-color: #ff6307; }
  .btn.blue, .blue.btn-large {
    text-decoration: none;
    background-color: #00518E;
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 10px 15px;
    color: #ffffff;
    text-transform: none; }
    .btn.blue:hover, .blue.btn-large:hover {
      background-color: #003955; }

.hs-button {
  display: inline-block;
  color: #fff;
  line-height: 23px;
  outline: 0;
  padding: 1rem 1.5em;
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 500;
  font-size: 15px;
  font-size: 1.5rem;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 5px;
  background: #005292;
  border: 1px solid #005292;
  cursor: pointer;
  margin-top: 2rem; }
  .hs-button:hover {
    background-color: #003955; }

form input[type="text"], form input[type="password"], form input[type="email"], form input[type="tel"], form textarea, .hs-form select {
  width: 100% !important;
  border: 3px solid #e6e6e6;
  line-height: 16px;
  outline: 0;
  border-radius: 0;
  -webkit-transition: .2s border-color;
  transition: .2s border-color;
  padding: 5px;
  height: 45px !important; }

.header-utility {
  border-top: 1px solid #F4F4F4;
  border-bottom: 1px solid #F4F4F4; }

.btn-large {
  padding: 20px 100px;
  font-size: 1.3em;
  margin: 30px 0; }

.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative; }
  .container:after {
    content: "";
    clear: both;
    display: block; }
  .container.narrow {
    width: 770px; }
    @media only screen and (min-width: 1200px) {
      .container.narrow {
        width: 770px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.narrow {
        width: 748px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.narrow {
        width: 461px; } }
    @media only screen and (max-width: 480px) {
      .container.narrow {
        width: 100%; } }
  .container.medium {
    width: 975px; }
    @media only screen and (min-width: 1200px) {
      .container.medium {
        width: 975px; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.medium {
        width: 748px; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.medium {
        width: 461px; } }
    @media only screen and (max-width: 480px) {
      .container.medium {
        width: 100%; } }
  .container.nopad {
    padding: 0; }
    @media only screen and (min-width: 1200px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (min-width: 481px) and (max-width: 767px) {
      .container.nopad {
        padding: 0; } }
    @media only screen and (max-width: 480px) {
      .container.nopad {
        padding: 0; } }

.dark-blue-bg {
  background-color: #003955;
  color: #ffffff; }

.white-bg {
  background-color: #ffffff; }

.light-grey-bg {
  background-color: #F4F4F4; }

.team-headline {
  text-transform: uppercase;
  color: #003955;
  font-size: 41px;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 100px;
  text-align: center; }

/*** END GENERAL STYLES ***/
/*** HEADER STYLES ***/
/*** END HEADER STYLES ***/
/*** PAGE STRUCTURE ***/
/*** END PAGE STRUCTURE ***/
/*** FOOTER STYLES ***/
/*** END FOOTER STYLES ***/
/*
 * _modules.scss
 * This scss file should be used to include styles for
 * specific modules on the site. Each modules or logical
 * group of modules should be declared in its own scss
 * file in the modules directory and included here.
 *
 * Bonus if you include a comment in the top of your scss
 * files describing what the classes are for and how to
 * structure your code to use them.
 */
#site-header {
  background-color: #ffffff;
  display: block;
  height: auto;
  position: relative;
  width: 100%;
  transition: none;
  z-index: 2; }
  #site-header .phone a {
    text-decoration: none;
    color: #0071bd; }
  #site-header a {
    text-decoration: none;
    color: white; }
  #site-header .site-header__logo {
    padding: 0; }
    @media (max-width: 419px) {
      #site-header .site-header__logo img {
        margin: 10px 0; } }
  #site-header .utility {
    background-color: #ffffff;
    display: block;
    overflow: hidden; }
    #site-header .utility .container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      align-content: center;
      text-align: right; }
    #site-header .utility .phone {
      font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
      text-align: right;
      padding: 7px 0 0;
      margin-right: 0;
      float: none;
      display: inline-block;
      vertical-align: top;
      text-transform: uppercase;
      color: #00518E;
      font-weight: bold;
      font-size: .9em; }

@media only screen and (max-width: 480px) {
  #site-header .utility .phone {
    display: block;
    text-align: center; } }
      #site-header .utility .phone a {
        color: #00518E;
        font-weight: 600; }
        #site-header .utility .phone a img {
          margin-right: 5px; }
        #site-header .utility .phone a:hover {
          text-decoration: none;
          color: #FF0007; }
  #site-header .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    text-align: right; }

@media only screen and (max-width: 979px) {
  #site-header .header-content {
    padding-bottom: 20px; } }
    @media (max-width: 419px) {
      #site-header .header-content {
        padding-bottom: 0; } }

@media only screen and (max-width: 979px) {
  #site-header .header-content .span3 {
    width: 50%;
    text-align: left; } }
    @media (max-width: 419px) {
      #site-header .header-content .span3 {
        width: 100%;
        text-align: center; } }
    #site-header .header-content .row-fluid {
      width: 100%;
      margin: 0; }
      #site-header .header-content .row-fluid .logo {
        padding: 10px 0; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .logo {
    text-align: left; } }
        #site-header .header-content .row-fluid .logo img {
          transition: none; }
      #site-header .header-content .row-fluid .header-mainnav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        display: -webkit-flex;
        -webkit-justify-content: flex-end;
        -webkit-align-items: center;
        align-content: center;
        flex-direction: row;
        padding-right: 0;
        text-align: right;
        float: right; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav {
    display: block;
    padding-right: 0;
    text-align: right;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    min-height: 0; } }
        @media (max-width: 419px) {
          #site-header .header-content .row-fluid .header-mainnav {
            text-align: center;
            float: none;
            min-height: 38px;
            margin: 10px 0; } }
        #site-header .header-content .row-fluid .header-mainnav .navbar {
          display: inline-block;
          text-align: left;
          padding-right: 10px;
          padding-left: 0;
          float: none;
          vertical-align: top;
          margin: 20px 0;
          font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar {
    display: none; } }
          #site-header .header-content .row-fluid .header-mainnav .navbar .nav {
            padding-top: 0;
            margin-top: 5px;
            float: right;
            padding: 0;
            margin: 0;
            list-style: none; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li {
              display: inline-block;
              float: left;
              padding: 0;
              margin: 0;
              position: relative; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a {
                border-bottom: 4px solid #ffffff;
                font-size: .8em;
                color: #003955;
                text-decoration: none;
                padding: 10px 10px 5px;
                display: block;
                transition: none !important; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a {
    font-size: 1em; } }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:focus, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:hover, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a.current-menu-item {
                  cursor: pointer; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:focus a, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a:hover a, #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li > a.current-menu-item a {
                    text-decoration: none;
                    color: #0071bd;
                    cursor: pointer; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul {
                display: none;
                list-style: none;
                float: left;
                margin: 0; }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul li {
                  display: block;
                  width: 100%; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li ul li:hover {
                    background: #003955; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li.hs-item-has-children > a:after {
                color: #003955;
                content: '\f103';
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                margin: 0px 0px 0px 10px;
                text-decoration: none;
                line-height: normal; }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li.active a {
                border-bottom: 4px solid #003955; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover > a {
              border-bottom: 4px solid #003955;
              cursor: pointer; }
            #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul {
              background: #CFF6F7;
              padding: 0;
              width: 250px;
              position: absolute;
              top: 100%;
              display: block; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul {
    width: 280px; } }
              #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li {
                border-bottom: 1px solid #00518E; }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a {
                  color: #003955;
                  font-size: .8em;
                  padding: 15px; }
                  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a:hover {
                    color: #ffffff;
                    text-decoration: none; }

@media only screen and (min-width: 1200px) {
  #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li a {
    font-size: 1em; } }
                #site-header .header-content .row-fluid .header-mainnav .navbar .nav > li:hover ul > li:last-child {
                  border: 0; }
        #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
          display: block;
          float: none;
          padding-top: 0;
          float: none;
          display: inline-block;
          vertical-align: top; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
    display: block; } }
          @media (max-width: 419px) {
            #site-header .header-content .row-fluid .header-mainnav .menu-cta-container {
              display: inline;
              text-align: center; } }
          #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
            padding: 10px 20px;
            font-size: 1em;
            border: 1px solid #003955;
            font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: #003955;
            text-transform: none; }

@media only screen and (max-width: 979px) {
  #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
    width: 100% !important;
    background-color: #003955 !important;
    color: #ffffff !important;
    margin: 10px 0 !important;
    border-width: 2px;
    border-style: solid;
    color: #00518E !important;
    background-color: transparent !important;
    padding: 8px 15px !important;
    font-weight: 600;
    width: auto !important;
    letter-spacing: 0;
    position: absolute;
    right: 100px;
    top: 0; } }
            @media (max-width: 419px) {
              #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large {
                position: relative;
                padding: 10px 15px;
                display: inline;
                right: 0; } }
            #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn:hover, #site-header .header-content .row-fluid .header-mainnav .menu-cta-container .btn-large:hover {
              background-color: #003955 !important;
              color: #ffffff !important; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header {
    float: right;
    display: block;
    width: 100px; } }
  @media (max-width: 419px) {
    #site-header #mobile-header {
      float: none;
      display: inline;
      width: 100px;
      text-align: center; } }
  #site-header #mobile-header #simple-menu {
    display: none;
    text-decoration: none;
    background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%);
    background-repeat: repeat-x;
    border-radius: 0;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header #simple-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    width: 75px;
    text-align: center;
    float: right;
    margin: 10px;
    vertical-align: middle;
    padding: 10px; } }
    @media (max-width: 419px) {
      #site-header #mobile-header #simple-menu {
        position: relative;
        display: inline;
        right: 0;
        float: none; } }
    #site-header #mobile-header #simple-menu:hover {
      background: #00283c; }
  #site-header #mobile-header #close {
    margin: 15px;
    display: none;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    color: #000000; }

@media only screen and (max-width: 979px) {
  #site-header #mobile-header #close {
    display: block; } }

.sidr.right {
  background: #00518E;
  box-shadow: none;
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .sidr.right a {
    transition: none !important; }
  .sidr.right ul {
    border-bottom: 1px solid #004275;
    border-top: 1px solid #004275;
    margin: 0; }
    .sidr.right ul li {
      border-bottom: 1px solid #004275;
      border-top: 1px solid #004275;
      padding: 0; }
      .sidr.right ul li:hover {
        border-top: 1px solid #004275; }
        .sidr.right ul li:hover a {
          box-shadow: none;
          transition: none !important; }
      .sidr.right ul li:active {
        border-top: 1px solid #004275; }
      .sidr.right ul li ul {
        border-top: 1px solid #004275; }
        .sidr.right ul li ul li:hover {
          border-top: 1px solid #004275; }
          .sidr.right ul li ul li:hover a {
            box-shadow: none; }
        .sidr.right ul li ul li:active {
          border-top: 1px solid #004275; }
        .sidr.right ul li ul li a {
          color: #ffffff; }
          .sidr.right ul li ul li a:hover {
            background: #0060a8; }
        .sidr.right ul li ul li p {
          display: none; }
        .sidr.right ul li ul li h4 {
          padding: 0;
          font-size: inherit;
          background: none;
          margin: 0;
          box-shadow: none; }
        .sidr.right ul li ul li .sidr-class-learn-more {
          display: none; }
      .sidr.right ul li a {
        padding: 15px;
        line-height: normal; }
        .sidr.right ul li a:hover {
          background: #0060a8; }
    .sidr.right ul .sidr-class-hs-item-has-children:hover {
      color: #ffffff;
      background: #003955; }
      .sidr.right ul .sidr-class-hs-item-has-children:hover a {
        cursor: default; }
    .sidr.right ul .sidr-class-hs-item-has-children ul li a:hover {
      cursor: pointer; }
  .sidr.right #sidr-id-close {
    margin: 15px;
    display: none;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    color: #000; }

@media only screen and (max-width: 979px) {
  .sidr.right #sidr-id-close {
    display: block; } }
    .sidr.right #sidr-id-close:hover {
      color: #ffffff;
      background-color: #003955; }

/* Store */
.header-utility__cart {
  display: flex !important;
  float: none !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center; }

@media only screen and (max-width: 767px) {
  .header-utility__cart {
    justify-content: center; } }

.header-utility a {
  margin-left: .5em;
  font-size: 14px; }

@media only screen and (max-width: 767px) {
  .header-utility a {
    text-align: center; } }

@media only screen and (max-width: 480px) {
  .header-utility a {
    font-size: 11px; } }
  .header-utility a:first-child {
    margin: 0; }
  .header-utility a span {
    margin-left: 0; }

.header-utility span {
  margin-left: .5em; }
  .header-utility span:first-child {
    margin: 0; }
  .header-utility span a {
    margin-left: 0; }

.disclaimer {
  background: #F4F4F4;
  color: #727272;
  padding: 30px 0;
  font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px; }

.footer {
  padding: 20px 0;
  font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif; }
  .footer .footer-content {
    padding: 20px 0;
    color: #00518E; }
    .footer .footer-content ul li a {
      padding-bottom: 13px; }
  @media (max-width: 1139px) and (min-width: 768px) {
    .footer .row-fluid .widget-span + .widget-span {
      margin-left: 4%; } }
  .footer .social-icons {
    margin: 15px 0; }
    .footer .social-icons ul {
      margin: 0;
      padding: 0;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .footer .social-icons ul li {
        display: inline;
        float: left;
        margin: 0 10px; }
        .footer .social-icons ul li a {
          display: block;
          float: none;
          padding: 5px 10px;
          border: 1px solid;
          border-radius: 30px;
          height: 35px;
          width: 36px;
          vertical-align: middle;
          background: #ffffff; }
          .footer .social-icons ul li a.facebook {
            color: #507CB9;
            border-color: #507CB9; }
            .footer .social-icons ul li a.facebook:hover {
              color: #ffffff;
              background: #507CB9; }
          .footer .social-icons ul li a.pinterest {
            color: #EC5F5D;
            border-color: #EC5F5D; }
            .footer .social-icons ul li a.pinterest:hover {
              color: #ffffff;
              background: #EC5F5D; }
          .footer .social-icons ul li a.twitter {
            color: #64C7EA;
            border-color: #64C7EA; }
            .footer .social-icons ul li a.twitter:hover {
              color: #ffffff;
              background: #64C7EA; }
          .footer .social-icons ul li a.linkedin {
            color: #1182C4;
            border-color: #1182C4; }
            .footer .social-icons ul li a.linkedin:hover {
              color: #ffffff;
              background: #1182C4; }
          .footer .social-icons ul li a.instagram {
            color: #d6249f;
            border-color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
            .footer .social-icons ul li a.instagram:hover {
              color: #ffffff;
              background: #d6249f; }
  .footer .copyright {
    padding: 20px 0;
    text-align: center;
    color: #959595; }

.hero-two-col-img-vid {
  padding: 70px 0;
  background-size: cover;
  background-position: top center;
  min-height: 500px;
  height: 500px;
  border-top: 3px solid #B6C0C6; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid {
    height: inherit; } }
  .hero-two-col-img-vid.short-hero {
    min-height: 250px;
    height: 250px;
    border-top: 3px solid #B6C0C6;
    border-bottom: 3px solid #B6C0C6; }
  .hero-two-col-img-vid.no-padding-bottom {
    padding-bottom: 0; }
  .hero-two-col-img-vid.row-fluid {
    width: 100%;
    *zoom: 1; }
  .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid.row-fluid:after {
    clear: both; }
  .hero-two-col-img-vid.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
    margin-left: 0; }
  .hero-two-col-img-vid.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%; }
  .hero-two-col-img-vid.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%; }
  .hero-two-col-img-vid.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%; }
  .hero-two-col-img-vid.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%; }
  .hero-two-col-img-vid.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%; }
  .hero-two-col-img-vid.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%; }
  .hero-two-col-img-vid.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%; }
  .hero-two-col-img-vid.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%; }
  .hero-two-col-img-vid.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%; }
  .hero-two-col-img-vid.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%; }
  .hero-two-col-img-vid.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%; }
  .hero-two-col-img-vid.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%; }
  .hero-two-col-img-vid .container-fluid {
    *zoom: 1; }
  .hero-two-col-img-vid .container-fluid:before, .hero-two-col-img-vid .container-fluid:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid .container-fluid:after {
    clear: both; }
  @media (max-width: 767px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: none;
      width: auto;
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%;
      *zoom: 1; }
    .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
      display: table;
      content: ""; }
    .hero-two-col-img-vid.row-fluid:after {
      clear: both; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.762430939%;
      *margin-left: 2.709239449638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .hero-two-col-img-vid.row-fluid .span12 {
      width: 99.999999993%;
      *width: 99.9468085036383%; }
    .hero-two-col-img-vid.row-fluid .span11 {
      width: 91.436464082%;
      *width: 91.38327259263829%; }
    .hero-two-col-img-vid.row-fluid .span10 {
      width: 82.87292817100001%;
      *width: 82.8197366816383%; }
    .hero-two-col-img-vid.row-fluid .span9 {
      width: 74.30939226%;
      *width: 74.25620077063829%; }
    .hero-two-col-img-vid.row-fluid .span8 {
      width: 65.74585634900001%;
      *width: 65.6926648596383%; }
    .hero-two-col-img-vid.row-fluid .span7 {
      width: 57.182320438000005%;
      *width: 57.129128948638304%; }
    .hero-two-col-img-vid.row-fluid .span6 {
      width: 48.618784527%;
      *width: 48.5655930376383%; }
    .hero-two-col-img-vid.row-fluid .span5 {
      width: 40.055248616%;
      *width: 40.0020571266383%; }
    .hero-two-col-img-vid.row-fluid .span4 {
      width: 31.491712705%;
      *width: 31.4385212156383%; }
    .hero-two-col-img-vid.row-fluid .span3 {
      width: 22.928176794%;
      *width: 22.874985304638297%; }
    .hero-two-col-img-vid.row-fluid .span2 {
      width: 14.364640883%;
      *width: 14.311449393638298%; }
    .hero-two-col-img-vid.row-fluid .span1 {
      width: 5.801104972%;
      *width: 5.747913482638298%; } }
  @media (min-width: 1280px) {
    .hero-two-col-img-vid.row-fluid {
      width: 100%;
      *zoom: 1; }
    .hero-two-col-img-vid.row-fluid:before, .hero-two-col-img-vid.row-fluid:after {
      display: table;
      content: ""; }
    .hero-two-col-img-vid.row-fluid:after {
      clear: both; }
    .hero-two-col-img-vid.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.564102564%;
      *margin-left: 2.510911074638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .hero-two-col-img-vid.row-fluid .span12 {
      width: 100%;
      *width: 99.94680851063829%; }
    .hero-two-col-img-vid.row-fluid .span11 {
      width: 91.45299145300001%;
      *width: 91.3997999636383%; }
    .hero-two-col-img-vid.row-fluid .span10 {
      width: 82.905982906%;
      *width: 82.8527914166383%; }
    .hero-two-col-img-vid.row-fluid .span9 {
      width: 74.358974359%;
      *width: 74.30578286963829%; }
    .hero-two-col-img-vid.row-fluid .span8 {
      width: 65.81196581200001%;
      *width: 65.7587743226383%; }
    .hero-two-col-img-vid.row-fluid .span7 {
      width: 57.264957265%;
      *width: 57.2117657756383%; }
    .hero-two-col-img-vid.row-fluid .span6 {
      width: 48.717948718%;
      *width: 48.6647572286383%; }
    .hero-two-col-img-vid.row-fluid .span5 {
      width: 40.170940171000005%;
      *width: 40.117748681638304%; }
    .hero-two-col-img-vid.row-fluid .span4 {
      width: 31.623931624%;
      *width: 31.5707401346383%; }
    .hero-two-col-img-vid.row-fluid .span3 {
      width: 23.076923077%;
      *width: 23.0237315876383%; }
    .hero-two-col-img-vid.row-fluid .span2 {
      width: 14.529914530000001%;
      *width: 14.4767230406383%; }
    .hero-two-col-img-vid.row-fluid .span1 {
      width: 5.982905983%;
      *width: 5.929714493638298%; } }
  .hero-two-col-img-vid .clearfix {
    *zoom: 1; }
  .hero-two-col-img-vid .clearfix:before, .hero-two-col-img-vid .clearfix:after {
    display: table;
    content: ""; }
  .hero-two-col-img-vid .clearfix:after {
    clear: both; }
  .hero-two-col-img-vid .hide {
    display: none; }
  .hero-two-col-img-vid .show {
    display: block; }
  .hero-two-col-img-vid .invisible {
    visibility: hidden; }
  .hero-two-col-img-vid .hidden {
    display: none;
    visibility: hidden; }
  .hero-two-col-img-vid .visible-phone {
    display: none !important; }
  .hero-two-col-img-vid .visible-tablet {
    display: none !important; }
  .hero-two-col-img-vid .hidden-desktop {
    display: none !important; }
  @media (max-width: 767px) {
    .hero-two-col-img-vid .visible-phone {
      display: inherit !important; }
    .hero-two-col-img-vid .hidden-phone {
      display: none !important; }
    .hero-two-col-img-vid .hidden-desktop {
      display: inherit !important; }
    .hero-two-col-img-vid .visible-desktop {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .hero-two-col-img-vid .visible-tablet {
      display: inherit !important; }
    .hero-two-col-img-vid .hidden-tablet {
      display: none !important; }
    .hero-two-col-img-vid .hidden-desktop {
      display: inherit !important; }
    .hero-two-col-img-vid .visible-desktop {
      display: none !important; } }

@media only screen and (max-width: 767px) {
  .hero-two-col-img-vid {
    text-align: center; } }
  .hero-two-col-img-vid .video-overlay {
    position: relative;
    display: inline-block;
    border: 1px solid green; }
    .hero-two-col-img-vid .video-overlay * {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .hero-two-col-img-vid .video-overlay img {
      z-index: 9;
      text-align: center;
      display: block;
      max-width: 100%;
      height: auto; }
    .hero-two-col-img-vid .video-overlay .image-overlay {
      background: url("https://cdn2.hubspot.net/hubfs/2126713/images/video-overlay.png") no-repeat center center;
      position: absolute;
      z-index: 10;
      background-size: cover;
      top: 0;
      display: block;
      width: 100%;
      height: 100%; }
  .hero-two-col-img-vid img {
    display: block;
    max-width: 100%;
    height: auto; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid img {
    margin: 0 auto; } }
  .hero-two-col-img-vid .popup-box {
    width: 100%;
    height: 100%;
    background: #f6eee1;
    top: 0;
    left: 0;
    z-index: 99999999 !important;
    transition: all 1s ease-in-out;
    opacity: 1;
    padding: 2%;
    overflow: scroll;
    position: fixed;
    z-index: 3;
    background: rgba(255, 255, 254, 0.98);
    font-size: 15px;
    cursor: pointer;
    border: 3px solid #ccc; }
    .hero-two-col-img-vid .popup-box .close-btn {
      width: 40px;
      height: 40px;
      position: fixed;
      right: 20px;
      top: 20px; }
  .hero-two-col-img-vid .text h1 {
    font-size: 53px;
    font-weight: bold;
    letter-spacing: 0;
    color: #003955;
    margin-top: 20px; }

@media only screen and (min-width: 1200px) {
  .hero-two-col-img-vid .text h1 {
    font-size: 57px; } }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid .text h1 {
    font-size: 45px;
    margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .hero-two-col-img-vid .text h1 {
    padding: 0 50px;
    margin-top: 30px; } }

@media only screen and (max-width: 480px) {
  .hero-two-col-img-vid .text h1 {
    padding: 0; } }
  .hero-two-col-img-vid .text h2 {
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #003955;
    font-size: 24px;
    line-height: 1.5em; }

@media only screen and (max-width: 979px) {
  .hero-two-col-img-vid .text h2 {
    font-size: 20px; } }
  .hero-two-col-img-vid .text .page-btn {
    margin-top: 10px; }

.two-col-flex {
  display: block;
  overflow: hidden; }
  .two-col-flex.dark-blue-bg {
    background-color: #003955; }
  .two-col-flex.white-bg {
    background-color: #ffffff; }
  .two-col-flex.light-grey-bg {
    background-color: #F4F4F4; }
  .two-col-flex.row-fluid {
    width: 100%;
    *zoom: 1; }
  .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
    display: table;
    content: ""; }
  .two-col-flex.row-fluid:after {
    clear: both; }
  .two-col-flex.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 28px;
    margin-left: 2.127659574%;
    *margin-left: 2.0744680846382977%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  .two-col-flex.row-fluid [class*="span"]:first-child {
    margin-left: 0; }
  .two-col-flex.row-fluid .span12 {
    width: 99.99999998999999%;
    *width: 99.94680850063828%; }
  .two-col-flex.row-fluid .span11 {
    width: 91.489361693%;
    *width: 91.4361702036383%; }
  .two-col-flex.row-fluid .span10 {
    width: 82.97872339599999%;
    *width: 82.92553190663828%; }
  .two-col-flex.row-fluid .span9 {
    width: 74.468085099%;
    *width: 74.4148936096383%; }
  .two-col-flex.row-fluid .span8 {
    width: 65.95744680199999%;
    *width: 65.90425531263828%; }
  .two-col-flex.row-fluid .span7 {
    width: 57.446808505%;
    *width: 57.3936170156383%; }
  .two-col-flex.row-fluid .span6 {
    width: 48.93617020799999%;
    *width: 48.88297871863829%; }
  .two-col-flex.row-fluid .span5 {
    width: 40.425531911%;
    *width: 40.3723404216383%; }
  .two-col-flex.row-fluid .span4 {
    width: 31.914893614%;
    *width: 31.8617021246383%; }
  .two-col-flex.row-fluid .span3 {
    width: 23.404255317%;
    *width: 23.3510638276383%; }
  .two-col-flex.row-fluid .span2 {
    width: 14.89361702%;
    *width: 14.8404255306383%; }
  .two-col-flex.row-fluid .span1 {
    width: 6.382978723%;
    *width: 6.329787233638298%; }
  .two-col-flex .container-fluid {
    *zoom: 1; }
  .two-col-flex .container-fluid:before, .two-col-flex .container-fluid:after {
    display: table;
    content: ""; }
  .two-col-flex .container-fluid:after {
    clear: both; }
  @media (max-width: 767px) {
    .two-col-flex.row-fluid {
      width: 100%; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: none;
      width: auto;
      margin-left: 0; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .two-col-flex.row-fluid {
      width: 100%;
      *zoom: 1; }
    .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
      display: table;
      content: ""; }
    .two-col-flex.row-fluid:after {
      clear: both; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.762430939%;
      *margin-left: 2.709239449638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .two-col-flex.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .two-col-flex.row-fluid .span12 {
      width: 99.999999993%;
      *width: 99.9468085036383%; }
    .two-col-flex.row-fluid .span11 {
      width: 91.436464082%;
      *width: 91.38327259263829%; }
    .two-col-flex.row-fluid .span10 {
      width: 82.87292817100001%;
      *width: 82.8197366816383%; }
    .two-col-flex.row-fluid .span9 {
      width: 74.30939226%;
      *width: 74.25620077063829%; }
    .two-col-flex.row-fluid .span8 {
      width: 65.74585634900001%;
      *width: 65.6926648596383%; }
    .two-col-flex.row-fluid .span7 {
      width: 57.182320438000005%;
      *width: 57.129128948638304%; }
    .two-col-flex.row-fluid .span6 {
      width: 48.618784527%;
      *width: 48.5655930376383%; }
    .two-col-flex.row-fluid .span5 {
      width: 40.055248616%;
      *width: 40.0020571266383%; }
    .two-col-flex.row-fluid .span4 {
      width: 31.491712705%;
      *width: 31.4385212156383%; }
    .two-col-flex.row-fluid .span3 {
      width: 22.928176794%;
      *width: 22.874985304638297%; }
    .two-col-flex.row-fluid .span2 {
      width: 14.364640883%;
      *width: 14.311449393638298%; }
    .two-col-flex.row-fluid .span1 {
      width: 5.801104972%;
      *width: 5.747913482638298%; } }
  @media (min-width: 1280px) {
    .two-col-flex.row-fluid {
      width: 100%;
      *zoom: 1; }
    .two-col-flex.row-fluid:before, .two-col-flex.row-fluid:after {
      display: table;
      content: ""; }
    .two-col-flex.row-fluid:after {
      clear: both; }
    .two-col-flex.row-fluid [class*="span"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 28px;
      margin-left: 2.564102564%;
      *margin-left: 2.510911074638298%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box; }
    .two-col-flex.row-fluid [class*="span"]:first-child {
      margin-left: 0; }
    .two-col-flex.row-fluid .span12 {
      width: 100%;
      *width: 99.94680851063829%; }
    .two-col-flex.row-fluid .span11 {
      width: 91.45299145300001%;
      *width: 91.3997999636383%; }
    .two-col-flex.row-fluid .span10 {
      width: 82.905982906%;
      *width: 82.8527914166383%; }
    .two-col-flex.row-fluid .span9 {
      width: 74.358974359%;
      *width: 74.30578286963829%; }
    .two-col-flex.row-fluid .span8 {
      width: 65.81196581200001%;
      *width: 65.7587743226383%; }
    .two-col-flex.row-fluid .span7 {
      width: 57.264957265%;
      *width: 57.2117657756383%; }
    .two-col-flex.row-fluid .span6 {
      width: 48.717948718%;
      *width: 48.6647572286383%; }
    .two-col-flex.row-fluid .span5 {
      width: 40.170940171000005%;
      *width: 40.117748681638304%; }
    .two-col-flex.row-fluid .span4 {
      width: 31.623931624%;
      *width: 31.5707401346383%; }
    .two-col-flex.row-fluid .span3 {
      width: 23.076923077%;
      *width: 23.0237315876383%; }
    .two-col-flex.row-fluid .span2 {
      width: 14.529914530000001%;
      *width: 14.4767230406383%; }
    .two-col-flex.row-fluid .span1 {
      width: 5.982905983%;
      *width: 5.929714493638298%; } }
  .two-col-flex .clearfix {
    *zoom: 1; }
  .two-col-flex .clearfix:before, .two-col-flex .clearfix:after {
    display: table;
    content: ""; }
  .two-col-flex .clearfix:after {
    clear: both; }
  .two-col-flex .hide {
    display: none; }
  .two-col-flex .show {
    display: block; }
  .two-col-flex .invisible {
    visibility: hidden; }
  .two-col-flex .hidden {
    display: none;
    visibility: hidden; }
  .two-col-flex .visible-phone {
    display: none !important; }
  .two-col-flex .visible-tablet {
    display: none !important; }
  .two-col-flex .hidden-desktop {
    display: none !important; }
  @media (max-width: 767px) {
    .two-col-flex .visible-phone {
      display: inherit !important; }
    .two-col-flex .hidden-phone {
      display: none !important; }
    .two-col-flex .hidden-desktop {
      display: inherit !important; }
    .two-col-flex .visible-desktop {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1139px) {
    .two-col-flex .visible-tablet {
      display: inherit !important; }
    .two-col-flex .hidden-tablet {
      display: none !important; }
    .two-col-flex .hidden-desktop {
      display: inherit !important; }
    .two-col-flex .visible-desktop {
      display: none !important; } }
  .two-col-flex.background-right-position .content-flex {
    background-position: right center; }
  .two-col-flex .container-fluid {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flexbox;
    display: -webkit-flex;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: row; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid {
    flex-direction: column;
    -webkit-flex-direction: column !important; } }
    .two-col-flex .container-fluid .content-flex {
      -ms-flex: 1.5;
      flex: 1.5;
      padding: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: inherit;
      padding-top: 50px;
      padding-bottom: 50px;
      height: inherit; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    overflow: hidden;
    flex: none;
    -ms-flex: none;
    -webkit-flex: none; } }
      .two-col-flex .container-fluid .content-flex.span5 {
        -ms-flex: 1;
        flex: 1; }
        .two-col-flex .container-fluid .content-flex.span5.content-left {
          padding-left: 50px; }

@media only screen and (min-width: 1200px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 150px; } }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 20px; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex.span5.content-left {
    padding-left: 0; } }
        .two-col-flex .container-fluid .content-flex.span5.content-right {
          padding-right: 50px;
          padding-top: 80px; }

@media only screen and (min-width: 1200px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 150px; } }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 20px;
    padding-top: inherit; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex.span5.content-right {
    padding-right: 0; } }
      .two-col-flex .container-fluid .content-flex.blue-text h3, .two-col-flex .container-fluid .content-flex.blue-text p {
        color: #003955; }
      .two-col-flex .container-fluid .content-flex.white-text h3, .two-col-flex .container-fluid .content-flex.white-text p {
        color: #ffffff; }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex {
    padding: 0; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex {
    background-image: none !important;
    padding: 0;
    flex: none;
    -ms-flex: none;
    -webkit-flex: none;
    order: 2;
    -webkit-order: 2; } }
      .two-col-flex .container-fluid .content-flex.right {
        order: 1;
        flex: none;
        -ms-flex: none;
        -webkit-flex: none;
        -webkit-order: 1; }
      .two-col-flex .container-fluid .content-flex .content {
        display: block;
        overflow: hidden; }

@media only screen and (max-width: 979px) {
  .two-col-flex .container-fluid .content-flex .content {
    margin: 30px auto 40px;
    padding: 0 30px;
    max-width: 500px; } }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex .content {
    margin: 30px auto 40px;
    padding: 0 20px;
    max-width: 100%; } }
      .two-col-flex .container-fluid .content-flex b, .two-col-flex .container-fluid .content-flex strong {
        font-weight: 800; }
      .two-col-flex .container-fluid .content-flex h3 {
        line-height: 1.4em;
        margin-bottom: 20px;
        font-size: 1.35em; }
      .two-col-flex .container-fluid .content-flex p {
        font-size: .95em; }
      .two-col-flex .container-fluid .content-flex .page-btn {
        margin-top: 15px;
        text-align: center; }
      .two-col-flex .container-fluid .content-flex .visible-mobile {
        display: none; }

@media only screen and (max-width: 767px) {
  .two-col-flex .container-fluid .content-flex .visible-mobile {
    display: block;
    width: 100%;
    overflow: hidden; } }
        .two-col-flex .container-fluid .content-flex .visible-mobile img {
          max-width: 100%;
          height: auto;
          margin: 0 auto;
          display: block; }

section#food_list_section {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
  background: white;
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), -moz-linear-gradient(45deg, white 0%, white 100%);
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), -webkit-linear-gradient(45deg, white 0%, white 100%);
  background-image: url(https://cdn2.hubspot.net/hubfs/2126713/images/backgrounds/food-list-bg.png), linear-gradient(45deg, white 0%, white 100%);
  background-repeat: no-repeat;
  background-position: top center;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: #003955; }
  section#food_list_section .food-list-head {
    margin-bottom: 100px; }
    section#food_list_section .food-list-head .top-copy .headline {
      font-size: 41px;
      color: #003955;
      font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
      text-align: center;
      margin: 0 auto;
      padding-top: 80px; }
      @media (max-width: 450px) {
        section#food_list_section .food-list-head .top-copy .headline {
          padding-top: 30px;
          font-size: 35px; } }
    section#food_list_section .food-list-head .top-copy .copy {
      max-width: 450px;
      margin: 0 auto; }
    section#food_list_section .food-list-head .top-copy .list-button-container {
      margin: 40px 0 0 0;
      text-align: center; }
      @media (max-width: 450px) {
        section#food_list_section .food-list-head .top-copy .list-button-container {
          margin: 40px 0 0 0; } }
      section#food_list_section .food-list-head .top-copy .list-button-container a.list-button {
        margin: auto;
        text-align: center;
        padding: 10px 0;
        color: #FF0007;
        border-left: 1px solid #FF0007;
        border-right: 1px solid #ff6307;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-image: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%), -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%), -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: -o-linear-gradient(left, #FF0007 0%, #ff6307 100%), -o-linear-gradient(left, #FF0007 0%, #ff6307 100%);
        background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%), linear-gradient(to right, #FF0007 0%, #ff6307 100%);
        padding: 10px 45px;
        display: inline-block;
        font-size: .95em;
        font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
        cursor: pointer; }
        section#food_list_section .food-list-head .top-copy .list-button-container a.list-button:hover {
          color: #ffffff !important;
          background: #ff0007;
          background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%);
          background: -webkit-linear-gradient(left, #ff0007 0%, #ff6307 100%);
          background: linear-gradient(to right, #ff0007 0%, #ff6307 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 ); }
  section#food_list_section #myDIV {
    display: none;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out; }
    section#food_list_section #myDIV .food-list .right-list .sides {
      margin-bottom: 50px; }
    section#food_list_section #myDIV .disclaim {
      clear: both;
      margin-bottom: 70px;
      padding-top: 40px; }
  section#food_list_section h2.food-headline {
    color: #003955;
    font-size: 24px;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }
  section#food_list_section ul {
    list-style: none; }

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

.two-col-img.dark-blue-bg {
  background-color: #003955; }
  .two-col-img.dark-blue-bg .text h3 {
    color: #ffffff; }
  .two-col-img.dark-blue-bg .text p {
    color: #ffffff; }
  .two-col-img.dark-blue-bg .text .btn, .two-col-img.dark-blue-bg .text .btn-large {
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 10px 45px;
    display: block;
    font-size: .95em;
    text-align: center;
    max-width: 250px;
    border: 1px solid #ffffff; }
    .two-col-img.dark-blue-bg .text .btn:hover, .two-col-img.dark-blue-bg .text .btn-large:hover {
      background: #ff6307; }

.one-col-full {
  padding: 70px 0 70px 0; }

section.team_section {
  padding: 50px 0 100px; }
  section.team_section .three-image-container .images-section {
    max-width: 860px;
    margin: auto; }
    section.team_section .three-image-container .images-section .image-container {
      position: relative;
      padding: 10px; }
      @media only screen and (min-width: 768px) and (max-width: 979px) {
        section.team_section .three-image-container .images-section .image-container {
          padding: 0; } }
      @media only screen and (max-width: 979px) {
        section.team_section .three-image-container .images-section .image-container {
          padding: 0;
          text-align: center; } }
      section.team_section .three-image-container .images-section .image-container img {
        height: auto; }
      section.team_section .three-image-container .images-section .image-container .button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        border-radius: 0;
        padding: 30px 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0f7f8+0,f9ffe7+100 */
        background: #d0f7f8;
        /* Old browsers */
        background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        max-width: 252px;
        min-width: 252px;
        text-align: center; }
        @media only screen and (min-width: 768px) and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .button {
            display: none !important; } }
        @media only screen and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .button {
            display: none !important; } }
        section.team_section .three-image-container .images-section .image-container .button a.bio-button {
          font-size: 15.5px;
          color: #003955;
          font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
          cursor: pointer; }
      section.team_section .three-image-container .images-section .image-container .littleName {
        display: none; }
        @media only screen and (max-width: 979px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            display: block; } }
        @media (min-width: 768px) and (max-width: 991px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            color: #003955;
            padding: 20px 0;
            text-align: center;
            background: #d0f7f8;
            /* Old browsers */
            background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
            margin: 0 auto;
            width: auto; } }
        @media (max-width: 767px) {
          section.team_section .three-image-container .images-section .image-container .littleName {
            color: #003955;
            padding: 20px 0;
            text-align: center;
            background: #d0f7f8;
            /* Old browsers */
            background: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1);
            margin: 0 auto 40px;
            max-width: 252px !important; } }
        section.team_section .three-image-container .images-section .image-container .littleName a.lil-button {
          font-size: 15.5px;
          color: #003955;
          font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
          cursor: pointer; }
  section.team_section .arrow_box {
    position: relative;
    padding: 10px;
    background-position: 0 0, 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: #d0f7f8;
    background-image: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    background-image: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    background-image: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 ); }
    section.team_section .arrow_box:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
    section.team_section .arrow_box:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #d0f7f8;
      border-width: 26px;
      margin-left: -26px; }
  section.team_section .bio-section {
    margin-top: 60px; }
    section.team_section .bio-section h3 {
      background-position: 0 100%;
      background-repeat: no-repeat;
      background-size: 100% 5px;
      padding-bottom: 10px;
      background-image: #d0f7f8;
      /* Old browsers */
      background-image: -moz-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* FF3.6-15 */
      background-image: -webkit-linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* Chrome10-25,Safari5.1-6 */
      background-image: linear-gradient(45deg, #d0f7f8 0%, #f9ffe7 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0f7f8', endColorstr='#f9ffe7',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      margin-bottom: 20px; }
    section.team_section .bio-section p {
      color: #003955;
      font-size: 16px; }
  section.team_section .span4 {
    width: 31.491712705%;
    margin-left: 2.5%; }
    @media only screen and (min-width: 1200px) {
      section.team_section .span4 {
        width: 31.623931624%; } }
    @media (max-width: 767px) {
      section.team_section .span4 {
        width: auto !important;
        margin-left: 2.5% !important; } }
  section.team_section .span12 {
    width: 99.999999993%; }
    @media only screen and (min-width: 1200px) {
      section.team_section .span12 {
        width: 100%; } }

/*
 * _pages.scss
 * This file should be used to include page or section-specific
 * styles. Each page/section/component should have its own
 * scss file in the pages directory that is included from here.
 */
.blog--resources .index-header {
  background: url("https://www.nephure.com/hubfs/images/backgrounds/title-bg.jpg");
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-size: contain;
  border-top: 3px solid #B6C0C6; }
  .blog--resources .index-header .index-header-container h1.index-header__title {
    color: #003955;
    font-size: 59px;
    letter-spacing: normal;
    font-weight: bold;
    line-height: normal;
    margin: 10px 0 0;
    font-family: "Bebas Neue",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 767px) {
  .blog--resources .index-header .index-header-container h1.index-header__title {
    font-size: 40px; } }

.blog--resources .article-grid {
  margin-bottom: 100px; }
  .blog--resources .article-grid .article-grid--left .resource-post--large {
    padding: 0; }

@media only screen and (max-width: 979px) {
  .blog--resources .article-grid .article-grid--left .resource-post--large {
    height: 250px; } }
    .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content {
      padding: 5%;
      left: 0;
      right: 0;
      display: block;
      background: -moz-linear-gradient(top, rgba(0, 26, 43, 0) 0%, rgba(0, 26, 43, 0.5) 29%, #001a2b 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 26, 43, 0) 0%, rgba(0, 26, 43, 0.5) 29%, #001a2b 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 26, 43, 0) 0%, rgba(0, 26, 43, 0.5) 29%, #001a2b 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001a2b', endColorstr='#001a2b',GradientType=0 );
      /* IE6-9 */
      bottom: 0; }
      .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .resource-post__title {
        margin-bottom: 25px;
        font-size: 36px;
        line-height: 1em; }

@media only screen and (max-width: 767px) {
  .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .resource-post__title {
    font-size: 28px; } }
      .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn, .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn-large {
        padding: 15px;
        font-size: 15px;
        border: 1px solid #ffffff;
        margin-top: 10px;
        display: block;
        max-width: 225px;
        text-align: center; }
        .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn i, .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn-large i {
          margin-left: 7px;
          font-size: 15px;
          position: relative;
          top: 1px; }
        .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn:hover, .blog--resources .article-grid .article-grid--left .resource-post--large .resource-post__content .btn-large:hover {
          background: #ff6307; }
  .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small {
    border-top: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2; }

@media only screen and (max-width: 979px) {
  .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small {
    border-left: 1px solid #f2f2f2; } }
    .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small .resource-post__title {
      font-size: 20px;
      margin: 5px 0 10px; }
    .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small .resource-post__link {
      color: #FF0007;
      text-transform: capitalize;
      font-size: 15px; }
      .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small .resource-post__link i {
        margin-left: 7px;
        font-size: 17px;
        top: 1px;
        position: relative; }
      .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small .resource-post__link:hover {
        color: #003955; }
    .blog--resources .article-grid .article-grid--right .resource-post.resource-post--small:last-child {
      border-bottom: 1px solid #f2f2f2; }

.blog--resources .page-section .blog-post__label .text {
  padding: 10px 15px;
  border: 1px solid #ffffff;
  line-height: normal;
  text-transform: capitalize;
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px; }
  .blog--resources .page-section .blog-post__label .text i {
    margin-left: 7px;
    font-size: 14px; }
  .blog--resources .page-section .blog-post__label .text:hover {
    background: #ff6307; }

.blog--resources .page-section .blog-post__title {
  font-size: 18px; }

@media only screen and (max-width: 979px) {
  .blog--resources .page-section .blog-post__title {
    font-size: 16px; } }

.blog--resources.hs-blog-listing .page-section.signup {
  background: #cff6f7;
  /* Old browsers */
  background: -moz-linear-gradient(left, #CFF6F7 0%, #F8FFE6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #CFF6F7 0%, #F8FFE6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #CFF6F7 0%, #F8FFE6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-blue', endColorstr='$cream',GradientType=1 );
  /* IE6-9 */ }
  .blog--resources.hs-blog-listing .page-section.signup .subheading {
    font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #003955;
    font-weight: 600; }

@media only screen and (max-width: 979px) {
  .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe {
    margin-top: 30px;
    display: block; } }

@media only screen and (max-width: 767px) {
  .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe .hs-form .hs_email {
    float: none;
    width: 100%; } }
  .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe .hs-form .hs_email input[type="email"] {
    border: 1px solid #e6e6e6; }
    .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe .hs-form .hs_email input[type="email"]::placeholder {
      color: #a8a8a8; }
  .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe .hs-form input {
    border-radius: 0;
    font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif; }

@media only screen and (max-width: 767px) {
  .blog--resources.hs-blog-listing .page-section.signup .hs_cos_wrapper_type_blog_subscribe .hs-form .hs_submit {
    float: none;
    width: 100%; } }

@media only screen and (max-width: 979px) {
  .blog--resources.hs-blog-listing .page-section.signup div > div > div {
    display: block !important;
    float: none !important;
    width: 100% !important; } }

.blog--resources.blog--single #latest-resources {
  background: #F4F4F4;
  margin: 0;
  padding: 60px; }

.blog--resources.blog--single #blog-content {
  border-top: 3px solid #B6C0C6; }

.blog--resources.blog--single #blog-content.page-section {
  background: #ffffff; }
  .blog--resources.blog--single #blog-content.page-section .resources-well__label .text {
    padding: 10px 15px;
    border: 1px solid #ffffff;
    line-height: normal;
    text-transform: capitalize;
    font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px; }
    .blog--resources.blog--single #blog-content.page-section .resources-well__label .text i {
      margin-left: 7px;
      font-size: 14px; }
    .blog--resources.blog--single #blog-content.page-section .resources-well__label .text:hover {
      background: #ff6307; }

.blog--resources.blog--single #sidebar .popular-posts {
  border: 1px solid #F4F4F4; }
  .blog--resources.blog--single #sidebar .popular-posts h2 {
    border-bottom: 2px solid #003955; }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .blog--resources.blog--single #sidebar .popular-posts .popular-post__content {
    width: 100%;
    margin: 0; } }

.blog--resources.blog--single #sidebar .widget-type-blog_subscribe {
  border: 1px solid #F4F4F4;
  background: url("https://www.nephure.com/hubfs/images/backgrounds/title-bg.jpg");
  background-color: #ffffff;
  background-repeat: repeat-x;
  background-size: contain; }
  .blog--resources.blog--single #sidebar .widget-type-blog_subscribe .hs-form .hs-form-field {
    position: relative; }
  .blog--resources.blog--single #sidebar .widget-type-blog_subscribe input[type="email"] {
    border: 1px solid #e6e6e6;
    font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif !important; }
    .blog--resources.blog--single #sidebar .widget-type-blog_subscribe input[type="email"]::placeholder {
      color: #a8a8a8; }
  .blog--resources.blog--single #sidebar .widget-type-blog_subscribe .hs-form input[type='submit'] {
    padding: 15px;
    font-size: 15px;
    border: 0;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 0 !important; }
    .blog--resources.blog--single #sidebar .widget-type-blog_subscribe .hs-form input[type='submit']:hover {
      background: #ff6307; }

.blog--resources.blog--single h1.blog-post__title {
  font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #003955;
  line-height: 1em; }

@media only screen and (max-width: 979px) {
  .blog--resources.blog--single h1.blog-post__title {
    font-size: 36px; } }

@media only screen and (max-width: 767px) {
  .blog--resources.blog--single h1.blog-post__title {
    font-size: 26px; } }

.blog--resources .blog-post__comments .comment.depth-1 {
  background: #F4F4F4;
  padding: 10px; }

.blog--resources .blog-post__comments .comment-reply-to {
  margin-bottom: 20px; }
  .blog--resources .blog-post__comments .comment-reply-to:hover {
    color: #ffffff !important; }

/* all modules */
.sq2 h3 {
  font-size: 1.4em;
  font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.sq2 p {
  font-size: 1.05em;
  font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.hs-cta-wrapper .page-btn {
  padding: 10px 45px;
  display: inline-block;
  font-size: .95em;
  font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.hs-cta-wrapper .page-btn.hollow {
  color: #FF0007;
  border-left: 1px solid #FF0007;
  border-right: 1px solid #ff6307;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 1px;
  -moz-background-size: 100% 1px;
  background-size: 100% 1px;
  background-image: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%), -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
  background-image: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%), -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
  background-image: -o-linear-gradient(left, #FF0007 0%, #ff6307 100%), -o-linear-gradient(left, #FF0007 0%, #ff6307 100%);
  background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%), linear-gradient(to right, #FF0007 0%, #ff6307 100%); }

.hs-cta-wrapper .page-btn.hollow:hover {
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
  background: #ff0007;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff0007 0%, #ff6307 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff0007 0%, #ff6307 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 );
  /* IE6-9 */ }

.hs-cta-wrapper .page-btn.hollow.white {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-image: none;
  padding: 10px 10px; }

.hs-cta-wrapper .page-btn.hollow.white:hover {
  background: #ffffff;
  color: #003955; }

@media (max-width: 767px) {
  .sq2 .span6 {
    width: 100%; } }

/* animated home page hero */
.animated {
  animation-duration: 3s;
  animation-fill-mode: both; }

.animated-second {
  animation-duration: 5s;
  animation-fill-mode: both; }

.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animate-hero {
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  background-position: 50% 50%; }

.animate-hero .hero-box {
  background: #ffffff;
  color: #003955;
  max-width: 585px;
  display: inline-block;
  padding: 15px 20px 5px;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in; }

.animate-hero h1 {
  color: #ff0007;
  background: #ffffff;
  display: inline-block;
  line-height: 1em;
  padding: 13px 15px 0;
  font-size: 4.25em;
  font-weight: 700;
  letter-spacing: inherit;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.animate-hero h2 {
  color: #003955;
  background: #ffffff;
  display: inline-block;
  line-height: 1em;
  padding: 13px 15px 0;
  font-size: 4.25em;
  font-weight: 700;
  letter-spacing: inherit;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

@media (max-width: 1199px) {
  .animate-hero h1 {
    font-size: 4em; }
  .animate-hero h2 {
    font-size: 3.5em; } }

@media (max-width: 979px) {
  .animate-hero h1 {
    font-size: 3.5em; }
  .animate-hero h2 {
    font-size: 3em; } }

@media (max-width: 767px) {
  .animate-hero h1 {
    font-size: 2.75em;
    padding: 8px 10px 0; }
  .animate-hero h2 {
    font-size: 2em;
    padding: 8px 10px 0; } }

@media (max-width: 480px) {
  .animate-hero h1 {
    font-size: 2.75em;
    display: block; }
  .animate-hero h2 {
    font-size: 2em;
    display: block; } }

/* two column with icons */
.icon-block {
  padding: 50px 0 100px; }

.icon-block img {
  margin: 25px auto 50px;
  display: block; }

.icon-block h3 {
  color: #003955;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px; }

.icon-block p {
  color: #003955; }

@media (max-width: 767px) {
  .icon-block img {
    margin: 50px auto; } }

/* three column with icons */
@media (min-width: 1280px) {
  .icon-block.row-fluid .span4 {
    width: 30.66667%; } }

@media (max-width: 1279px) and (min-width: 1140px) {
  .icon-block.row-fluid .span4 {
    width: 31.914893614%; } }

@media (max-width: 1139px) and (min-width: 768px) {
  .icon-block.row-fluid .span4 {
    width: 30.66667%; } }

@media (max-width: 767px) {
  .icon-block.row-fluid .span4 {
    width: 100%; } }

/* two column with image */
.two-col-img {
  background-size: cover; }

.two-col-img img {
  height: auto;
  padding: 50px 0; }

.two-col-img .text {
  padding: 70px 0 40px; }

.two-col-img .text h3 {
  color: #003955;
  padding-bottom: 20px; }

.two-col-img p {
  color: #003955; }

.two-col-img .hs-cta-wrapper a {
  margin-top: 10px; }

@media (max-width: 979px) {
  .two-col-img .text {
    padding: 40px 0; } }

/* two column video with testimonial */
.video-testimonial {
  background-color: #003955;
  color: #ffffff;
  padding: 90px 0 65px; }

.video-testimonial .media {
  padding-top: 40px; }

.video-testimonial .media-container {
  max-width: 370px; }

.video-testimonial img {
  height: auto; }

.video-testimonial .media-container .hs-cta-wrapper a {
  max-width: 370px;
  display: block;
  text-align: center; }

.video-testimonial .media .hs-cta-wrapper a {
  margin-top: 35px; }

.video-testimonial .testimonial {
  position: relative; }

.video-testimonial .quote,
.video-testimonial .quote p {
  text-indent: 80px;
  padding-top: 10px;
  line-height: 47px;
  font-size: 39px;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.video-testimonial .signature {
  font-size: 1.05em; }

.video-testimonial .quote:before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  background: url(https://cdn2.hubspot.net/hubfs/2126713/images/icons/left-quotation-mark.png);
  background-size: 100% 100%;
  width: 65px;
  height: 51px;
  margin: 2px;
  background-repeat: no-repeat; }

@media (max-width: 767px) {
  .video-testimonial .testimonial {
    margin-top: 75px; } }

@media (max-width: 480px) {
  .video-testimonial .quote,
  .video-testimonial .quote p {
    line-height: 40px;
    font-size: 31px; } }

/* three column block */
.three-col-block {
  background-color: #F8FFFF;
  padding: 115px 0 115px; }

.three-col-block .span12 {
  max-width: 485px;
  margin: 0 auto !important; }

.three-col-block h3 {
  text-align: center;
  color: #003955;
  padding-bottom: 40px; }

.three-col-block p {
  color: #003955; }

.three-col-block .block {
  text-align: center;
  background-size: cover;
  background-position: 50% 50%;
  box-shadow: 3px 3px 10px #888;
  min-width: 347px;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 15px; }

.three-col-block .block a {
  min-width: 347px;
  min-height: 250px;
  display: block;
  padding: 30px; }

.three-col-block .span4 h3 {
  text-align: center;
  color: #FF0007;
  padding-bottom: 0; }

.three-col-block img {
  margin-bottom: 10px; }

@media (max-width: 1199px) {
  .three-col-block .row-fluid .span4 {
    width: 100%;
    margin: 20px 0 0; }
  .three-col-block .block {
    margin: 15px auto;
    max-width: 347px; } }

@media (max-width: 767px) {
  .three-col-block .block {
    margin-top: 50px; } }

@media (max-width: 480px) {
  .three-col-block .span4 {
    max-width: 347px;
    margin: 0 auto !important; }
  .three-col-block .block {
    min-width: 100%;
    max-width: 347px;
    box-shadow: 0 0 2px #888; }
  .three-col-block .block a {
    padding: 30px 5px 5px;
    min-width: 100%;
    max-width: 347px; } }

/* accordion */
.accordion-wrapper {
  margin: 5px 0;
  font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  /*.grey-background {
    	background-color: #dedede;
	}*/ }

.accordion-wrapper .accordion-section {
  /*.flipIn, h1, ul li {
			animation: flipdown 0.5s ease both;
			-webkit-animation: flipdown 0.5s ease both;
		}*/ }

.accordion-wrapper .accordion-section .transition, .accordion-wrapper .accordion-section p, .accordion-wrapper .accordion-section ul li i:before, .accordion-wrapper .accordion-section ul li i:after {
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out; }

.accordion-wrapper .accordion-section .no-select, .accordion-wrapper .accordion-section h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.accordion-wrapper .accordion-section h1, h2, h3, h4, h5, h6 {
  color: #003955; }

.accordion-wrapper .accordion-section h6 {
  font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: 600;
  color: #003955;
  text-decoration: none;
  text-align: left;
  margin: 0;
  padding: 10px 0 10px 10px;
  background: #fff;
  border-left: 40px solid #fff; }

.accordion-wrapper .accordion-section a {
  color: #FF0007; }

.accordion-wrapper .accordion-section a:hover {
  color: #ff6307; }

.accordion-wrapper .accordion-section div {
  text-align: left;
  padding: 10px 30px 30px;
  margin: 0 0px 5px 50px;
  position: relative;
  z-index: 1;
  font-size: .95em;
  color: #003955;
  background-color: #fff; }

@media only screen and (max-width: 979px) {
  .accordion-wrapper .accordion-section div {
    padding: 5px 15px 20px;
    margin: 0 0px 5px 40px; } }

.accordion-wrapper .accordion-section ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0; }

.accordion-wrapper .accordion-section ul li:first-of-type:before {
  display: none; }

.accordion-wrapper .accordion-section ul ul {
  list-style: disc;
  padding: 0 0 0 40px !important;
  margin: 0 0 15px 30px;
  perspective: 900; }

.accordion-wrapper .accordion-section ul ol {
  padding: 0 0 0 40px; }

@media only screen and (max-width: 979px) {
  .accordion-wrapper .accordion-section ul ul {
    margin: 0; } }

.accordion-wrapper .accordion-section ul ul li {
  margin-bottom: 0; }

.accordion-wrapper .accordion-section ul ul li:first-of-type:before {
  display: block; }

.accordion-wrapper .accordion-section ul:first-of-type {
  padding: 0;
  margin-left: 0; }

@media only screen and (max-width: 979px) {
  .accordion-wrapper .accordion-section ul:first-of-type {
    padding: 0; } }

@media only screen and (max-width: 979px) {
  .accordion-wrapper .accordion-section ul:first-of-type ul:first-of-type {
    padding: 0 0 0 15px; } }

.accordion-wrapper .accordion-section ul li {
  position: relative;
  padding: 0;
  /*animation-delay: 1s;*/ }

.accordion-wrapper .accordion-section ul li:last-of-type {
  padding-bottom: 0;
  margin: 0 0 3px; }

.accordion-wrapper .accordion-section ul li .border {
  background-color: #CFF6F7;
  background-image: linear-gradient(to right, #CFF6F7, #F7FDE7);
  padding: 1px 1px;
  width: 25px;
  height: 25px;
  border-color: transparent;
  border-radius: 50%;
  border-width: 1px;
  margin-top: 6px;
  margin-left: 10px;
  float: left;
  position: relative; }

.accordion-wrapper .accordion-section ul li .circle {
  background: #fff;
  height: 23px;
  width: 23px;
  border-color: transparent;
  border-radius: 50%;
  border-width: 1px;
  padding: 0px 6px;
  position: absolute; }

.accordion-wrapper .accordion-section ul li i {
  /*position: absolute;
      transform: translate(15px, 0);
      -webkit-transform: translate(15px, 0);
      left: 0;
      margin-top: 10px;
      border-radius: 30px;
      border: 1px solid #003955;
      width: 21px;
      height: 21px;
      padding: 2px 2px 2px 5px;*/ }

.accordion-wrapper .accordion-section ul li i:before, .accordion-wrapper .accordion-section ul li i:after {
  content: "";
  position: absolute;
  background-color: #003955;
  width: 1px;
  height: 15px; }

.accordion-wrapper .accordion-section ul li i:before {
  transform: translate(4px, 0) rotate(90deg);
  -webkit-transform: translate(4px, 0) rotate(90deg);
  margin: 4px 1px 0; }

.accordion-wrapper .accordion-section ul li i:after {
  transform: translate(4px, 0) rotate(90deg);
  -webkit-transform: translate(4px, 0) rotate(90deg);
  margin: 4px 1px 0; }

.accordion-wrapper .accordion-section ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  left: 0; }

.accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ div {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  display: none;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  position: relative;
  z-index: 1; }

.accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ .border .circle i:before {
  transform: translate(4px, 0) rotate(-180deg);
  -webkit-transform: translate(4px, 0) rotate(-180deg); }

.accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(4px, 0) rotate(90deg);
  -webkit-transform: translate(4px, 0) rotate(90deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg);
    -webkit-transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg);
    -webkit-transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg);
    -webkit-transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(0deg); } }

/* full width headline */
.single-headline {
  padding: 90px 0 50px; }

.single-headline h3 {
  color: #003955;
  text-align: center; }

/* full width testimonial */
.full-testimonial {
  color: #fff;
  background-color: #003955;
  padding: 100px 0 125px; }

.full-testimonial .stars img {
  margin: 0 auto 30px;
  display: block; }

.full-testimonial .quote {
  padding: 10px 20px 0; }

.full-testimonial .quote,
.full-testimonial .quote p {
  text-indent: 80px;
  padding-top: 10px;
  line-height: 47px;
  font-size: 39px;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.full-testimonial .signature {
  font-size: 1.05em;
  padding: 15px 20px 0; }

.full-testimonial .quote:before {
  position: absolute;
  content: " ";
  background: url(https://cdn2.hubspot.net/hubfs/2126713/images/icons/left-quotation-mark.png);
  background-size: 100% 100%;
  left: 35px;
  width: 65px;
  height: 51px;
  margin: 2px;
  background-repeat: no-repeat; }

@media (max-width: 480px) {
  .full-testimonial .quote,
  .full-testimonial .quote p {
    line-height: 40px;
    font-size: 31px;
    padding-top: 20px; } }

/* full width dbo */
.full-dbo {
  background-size: cover;
  background-position: 50% 50%; }

.dbo-box {
  background-color: white;
  box-shadow: 3px 3px 10px #888;
  padding: 25px 15px 10px;
  margin: 160px 0 240px; }

.dbo-box .offer {
  text-align: center; }

.dbo-box .headline {
  color: #FF0007;
  line-height: normal;
  font-size: 40px;
  font-weight: 600;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-bottom: 15px; }

.dbo-box .subheadline {
  color: #003955;
  padding: 0 20px 5px;
  line-height: normal;
  font-size: 24px;
  font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-bottom: 12px; }

.dbo-box .copy {
  color: #003955;
  max-width: 450px;
  margin: 0 auto;
  font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

.dbo-box .hs-cta-wrapper div.btn, .dbo-box .hs-cta-wrapper div.btn-large {
  padding: 15px 60px;
  margin: 20px 0 10px; }

.dbo-box .btn, .dbo-box .btn-large {
  font-size: 15px;
  display: inline-block;
  font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
  background: #ff0007;
  /* Old browsers */
  background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ff0007 0%, #ff6307 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ff0007 0%, #ff6307 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 );
  /* IE6-9 */ }

.dbo-box .btn:hover, .dbo-box .btn-large:hover {
  background: #ff6307; }

@media (max-width: 480px) {
  .dbo-box .headline {
    font-size: 37px; }
  .dbo-box .subheadline {
    font-size: 22px; } }

.sq2.sq2-landing-page .main-content {
  background-repeat: repeat-x;
  padding: 60px 0;
  border-top: 3px solid #b6c0c6;
  color: #003955; }

@media only screen and (max-width: 979px) {
  .sq2.sq2-landing-page .main-content .flexible-body {
    padding-right: 20px; } }

@media only screen and (max-width: 767px) {
  .sq2.sq2-landing-page .main-content .flexible-body {
    padding-right: 0; } }
  .sq2.sq2-landing-page .main-content ul, .sq2.sq2-landing-page .main-content ol {
    margin-left: 10px; }

@media only screen and (max-width: 767px) {
  .sq2.sq2-landing-page .main-content img {
    display: block;
    margin: 10px auto !important;
    float: none !important;
    height: auto; } }
  .sq2.sq2-landing-page .main-content h1 {
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #003955;
    font-size: 53px;
    letter-spacing: 0; }

@media only screen and (min-width: 1200px) {
  .sq2.sq2-landing-page .main-content h1 {
    font-size: 57px; } }

@media only screen and (max-width: 767px) {
  .sq2.sq2-landing-page .main-content h1 {
    font-size: 36px; } }
  .sq2.sq2-landing-page .main-content h2 {
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #003955;
    font-size: 24px;
    margin-bottom: 30px; }
  .sq2.sq2-landing-page .main-content ul {
    margin-left: 40px;
    font-weight: bold; }
  .sq2.sq2-landing-page .main-content .form-wrapper {
    background: #F4F4F4;
    padding: 30px 20px;
    border-radius: 10px; }
    .sq2.sq2-landing-page .main-content .form-wrapper h3 {
      text-align: center;
      margin-bottom: 20px; }
    .sq2.sq2-landing-page .main-content .form-wrapper form input, .sq2.sq2-landing-page .main-content .form-wrapper form textarea, .sq2.sq2-landing-page .main-content .form-wrapper form select {
      border-radius: 5px; }
    .sq2.sq2-landing-page .main-content .form-wrapper form .hs-form-booleancheckbox {
      font-size: 14px; }
    .sq2.sq2-landing-page .main-content .form-wrapper form ul {
      margin-left: 0;
      font-weight: normal; }
    .sq2.sq2-landing-page .main-content .form-wrapper form .hs_submit .hs-button {
      font-size: 15px;
      display: block;
      font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
      width: 100%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
      background: #FF0007;
      /* Old browsers */
      background: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #FF0007 0%, #ff6307 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$orange',GradientType=1 );
      /* IE6-9 */
      text-transform: capitalize; }
      .sq2.sq2-landing-page .main-content .form-wrapper form .hs_submit .hs-button:hover {
        background: #ff6307; }

.sq2.sq2-landing-page.confirmation-page h1::before {
  content: "\2713";
  font-size: 100px;
  line-height: 0;
  vertical-align: middle;
  color: #72C64E;
  font-weight: bold;
  letter-spacing: -10px;
  font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif; }

@media only screen and (max-width: 767px) {
  .sq2.sq2-landing-page.confirmation-page h1::before {
    display: none; } }
