 .blog--resources {

   .index-header {
     background: url('https://www.nephure.com/hubfs/images/backgrounds/title-bg.jpg');
     background-color: $white;
     background-repeat: repeat-x;
     background-size: contain;
     border-top: 3px solid #B6C0C6;

     .index-header-container {

       h1.index-header__title {
         color:$dark-blue;
         font-size: 59px;
         letter-spacing: normal;
         font-weight: bold;
         line-height: normal;
         margin: 10px 0 0;
         font-family: "Bebas Neue",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;

         @media#{$phone}{
           font-size: 40px;
         }
       }
     }
   }
  .article-grid {
    margin-bottom: 100px;

    .article-grid--left {


      .resource-post--large {
        padding: 0;

        @media#{$mobile}{
          height: 250px;
        }

        .resource-post__content {
          padding: 5%;
          left: 0;
          right: 0;
          display: block;
          background: -moz-linear-gradient(top, rgba(0,26,43,0) 0%, rgba(0,26,43,0.5) 29%, rgba(0,26,43,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(0,26,43,0) 0%,rgba(0,26,43,0.5) 29%,rgba(0,26,43,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(0,26,43,0) 0%,rgba(0,26,43,0.5) 29%,rgba(0,26,43,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00001a2b', endColorstr='#001a2b',GradientType=0 ); /* IE6-9 */
          bottom:0;

          .resource-post__title {
            margin-bottom: 25px;
            font-size: 36px;
            line-height: 1em;

            @media#{$phone}{
              font-size: 28px;
            }
          }

          .btn {
            padding: 15px;
            font-size: 15px;
            border: 1px solid $white;
            margin-top: 10px;
            display: block;
            max-width: 225px;
            text-align: center;

            i {
              margin-left: 7px;
              font-size: 15px;
              position: relative;
              top: 1px
            }

            &:hover {
              background: $orange;
            }
          }
        }
      }
    }

     .article-grid--right {

       .resource-post.resource-post--small {
             border-top: 1px solid #f2f2f2;
             border-right: 1px solid #f2f2f2;

             @media#{$mobile}{
               border-left: 1px solid #f2f2f2;
             }

         .resource-post__title {
           font-size: 20px;
           margin: 5px 0 10px;
         }

         .resource-post__link {
           color: $red;
           text-transform: capitalize;
           font-size: 15px;

           i {
             margin-left: 7px;
             font-size: 17px;
             top: 1px;
             position: relative;
           }

           &:hover {
             color: $dark-blue;
           }
         }
         &:last-child {
           border-bottom: 1px solid #f2f2f2;;
         }
       }
     }
   }

   .page-section {

     .blog-post__label {

       .text {
         padding: 10px 15px;
         border: 1px solid $white;
         line-height: normal;
         text-transform: capitalize;
         font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
         font-size: 12px;

         i {
           margin-left: 7px;
           font-size: 14px;
         }

         &:hover {
           background: $orange;
         }
       }


     }

     .blog-post__title {
       font-size: 18px;

       @media#{$mobile}{
         font-size: 16px;
       }
     }
   }

   &.hs-blog-listing {

     .page-section.signup {
       background: #cff6f7; /* Old browsers */
        background: -moz-linear-gradient(left, $light-blue 0%, $cream 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, $light-blue 0%,$cream 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, $light-blue 0%,$cream 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-blue', endColorstr='$cream',GradientType=1 ); /* IE6-9 */

        .subheading {
              font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
              color: $dark-blue;
              font-weight: 600;
        }

        .hs_cos_wrapper_type_blog_subscribe {

          @media#{$mobile}{
            margin-top: 30px;
            display: block;
          }
          .hs-form {

            .hs_email {

              @media#{$phone}{
                float: none;
                width: 100%;
              }

              input[type="email"] {
                border: 1px solid #e6e6e6;

                &::placeholder {
                  color: #a8a8a8;
                }
              }
            }
            input {
              border-radius: 0;
              font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif;
            }

            .hs_submit {

              @media#{$phone}{
                float: none;
                width: 100%;
              }
            }
          }
        }

        div>div>div {

          @media#{$mobile}{
            display: block !important;
            float: none !important;
            width: 100% !important;
          }
        }
     }
   }

   &.blog--single {

     #latest-resources {
       background: $light-grey;
       margin: 0;
       padding: 60px;
     }

     #blog-content {
       border-top: 3px solid #B6C0C6;
     }

     #blog-content.page-section {
       background: $white;

       .resources-well__label {

         .text {
           padding: 10px 15px;
           border: 1px solid $white;
           line-height: normal;
           text-transform: capitalize;
           font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
           font-size: 12px;

           i {
             margin-left: 7px;
             font-size: 14px;
           }

           &:hover {
             background: $orange;
           }
         }
       }
     }

     #sidebar {

       .popular-posts {
         border: 1px solid $light-grey;

         h2 {
           border-bottom: 2px solid $dark-blue;
         }

         .popular-post__content {

           @media#{$tablet}{
             width: 100%;
             margin: 0;
           }
         }
       }

       .widget-type-blog_subscribe {
         border: 1px solid $light-grey;
         background: url('https://www.nephure.com/hubfs/images/backgrounds/title-bg.jpg');
         background-color: $white;
         background-repeat: repeat-x;
         background-size: contain;

         .hs-form .hs-form-field {
              position: relative;
          }

         input {

           &[type="email"] {
             border: 1px solid #e6e6e6;
             font-family: "Proxima Nova Rg",Helvetica Neue,Helvetica,Arial,sans-serif !important;


             &::placeholder {
               color: #a8a8a8;

             }
           }
         }



         .hs-form input[type='submit'] {
           @extend .btn.red-gradient;
           padding: 15px;
           font-size: 15px;
           border: 0;
           margin-top: 10px;
           display: block;
           width: 100%;
           text-align: center;
           border-radius: 0 !important;

           &:hover {
             background: $orange;
           }
         }
       }
     }

     h1.blog-post__title {
         font-family: "Pluto",Proxima Nova Rg,Helvetica Neue,Helvetica,Arial,sans-serif;
         color: $dark-blue;
         line-height: 1em;

         @media#{$mobile}{
           font-size: 36px;
         }

         @media#{$phone}{
           font-size: 26px;
         }
     }
   }

   .blog-post__comments {

     .comment.depth-1 {
       background: $light-grey;
       padding: 10px;
     }

     .comment-reply-to {
       margin-bottom: 20px;

       &:hover{
         color: $white !important;
       }
     }
   }
 }
