/* all modules */
.sq2 h3 {
    font-size: 1.4em;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.sq2 p {
    font-size: 1.05em;
    font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.hs-cta-wrapper .page-btn {
    padding: 10px 45px;
    display: inline-block;
    font-size: .95em;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.hs-cta-wrapper .page-btn.hollow {
    color: #FF0007;
    border-left: 1px solid #FF0007;
    border-right: 1px solid #ff6307;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 1px;
    -moz-background-size: 100% 1px;
    background-size: 100% 1px;
    background-image: -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%), -webkit-linear-gradient(left, #FF0007 0%, #ff6307 100%);
    background-image: -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%), -moz-linear-gradient(left, #FF0007 0%, #ff6307 100%);
    background-image: -o-linear-gradient(left, #FF0007 0%, #ff6307 100%), -o-linear-gradient(left, #FF0007 0%, #ff6307 100%);
    background-image: linear-gradient(to right, #FF0007 0%, #ff6307 100%), linear-gradient(to right, #FF0007 0%, #ff6307 100%);
}
.hs-cta-wrapper .page-btn.hollow:hover {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
    background: #ff0007; /* Old browsers */
    background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff0007 0%,#ff6307 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff0007 0%,#ff6307 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 ); /* IE6-9 */
}
.hs-cta-wrapper .page-btn.hollow.white {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-image: none;
    padding: 10px 10px;
}
.hs-cta-wrapper .page-btn.hollow.white:hover {
    background: #ffffff;
    color: #003955;
}
@media (max-width: 767px) {
    .sq2 .span6 {
        width: 100%;
    }
}





/* animated home page hero */
.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
}
.animated-second {
  animation-duration: 5s;
  animation-fill-mode: both;
}
.fadeIn {
  animation-name: fadeIn;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.animate-hero {
    padding-top: 70px;
    padding-bottom: 70px;
    background-size: cover;
    background-position: 50% 50%;
}
.animate-hero .hero-box {
    background: #ffffff;
    color: #003955;
    max-width: 585px;
    display: inline-block;
    padding: 15px 20px 5px;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}
.animate-hero h1 {
    color: #ff0007;
    background: #ffffff;
    display: inline-block;
    line-height: 1em;
    padding: 13px 15px 0;
    font-size: 4.25em;
    font-weight: 700;
    letter-spacing: inherit;
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.animate-hero h2 {
    color: #003955;
    background: #ffffff;
    display: inline-block;
    line-height: 1em;
    padding: 13px 15px 0;
    font-size: 4.25em;
    font-weight: 700;
    letter-spacing: inherit;
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
@media (max-width: 1199px) {
    .animate-hero h1 {
        font-size: 4em;
    }
    .animate-hero h2 {
        font-size: 3.5em;
    }
}
@media (max-width: 979px) {
    .animate-hero h1 {
        font-size: 3.5em;
    }
    .animate-hero h2 {
        font-size: 3em;
    }
}
@media (max-width: 767px) {
    .animate-hero h1 {
        font-size: 2.75em;
        padding: 8px 10px 0;
    }
    .animate-hero h2 {
        font-size: 2em;
        padding: 8px 10px 0;
    }
}
@media (max-width: 480px) {
    .animate-hero h1 {
        font-size: 2.75em;
        display: block;
    }
    .animate-hero h2 {
        font-size: 2em;
        display: block;
    }
}






/* two column with icons */
.icon-block {
    padding: 50px 0 100px;
}
.icon-block img {
    margin: 25px auto 50px;
    display: block;
}
.icon-block h3 {
    color: #003955;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.icon-block p {
    color: #003955;
}
@media (max-width: 767px) {
    .icon-block img {
        margin: 50px auto;
    }
}
/* three column with icons */
.icon-block.row-fluid .span4 {

}
@media (min-width: 1280px) {
    .icon-block.row-fluid .span4 {
        width: 30.66667%;
    }
}
@media (max-width: 1279px) and (min-width: 1140px) {
    .icon-block.row-fluid .span4 {
        width: 31.914893614%;
    }
}
@media (max-width: 1139px) and (min-width: 768px) {
    .icon-block.row-fluid .span4 {
        width: 30.66667%;
    }
}
@media (max-width: 767px) {
    .icon-block.row-fluid .span4 {
        width: 100%;
    }
}








/* two column with image */
.two-col-img {
    background-size: cover;
}
.two-col-img img {
    height: auto;
    padding: 50px 0;
}
.two-col-img .text {
    padding: 70px 0 40px;
}
.two-col-img .text h3 {
    color: #003955;
    padding-bottom: 20px;
}
.two-col-img p {
    color: #003955;
}
.two-col-img .hs-cta-wrapper a {
    margin-top: 10px;
}
@media (max-width: 979px) {
    .two-col-img .text {
        padding: 40px 0;
    }
}







/* two column video with testimonial */
.video-testimonial {
    background-color: #003955;
    color: #ffffff;
    padding: 90px 0 65px;
}
.video-testimonial .media {
    padding-top: 40px;
}
.video-testimonial .media-container {
    max-width: 370px;
}
.video-testimonial img {
    height: auto;
}
.video-testimonial .media-container .hs-cta-wrapper a {
    max-width: 370px;
    display: block;
    text-align: center;
}
.video-testimonial .media .hs-cta-wrapper a {
    margin-top: 35px;
}
.video-testimonial .testimonial {
    position: relative;
}
.video-testimonial .quote,
.video-testimonial .quote p {
    text-indent: 80px;
    padding-top: 10px;
    line-height: 47px;
    font-size: 39px;
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.video-testimonial .signature {
    font-size: 1.05em;
}
.video-testimonial .quote:before {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background: url(https://cdn2.hubspot.net/hubfs/2126713/images/icons/left-quotation-mark.png);
    background-size: 100% 100%;
    width: 65px;
    height: 51px;
    margin: 2px;
    background-repeat: no-repeat;
}
@media (max-width: 767px) {
    .video-testimonial .testimonial {
        margin-top: 75px;
    }
}
@media (max-width: 480px) {
    .video-testimonial .quote,
    .video-testimonial .quote p {
        line-height: 40px;
        font-size: 31px;
    }
}







/* three column block */
.three-col-block {
    background-color: #F8FFFF;
    padding: 115px 0 115px;
}
.three-col-block .span12 {
    max-width: 485px;
    margin: 0 auto !important;
}
.three-col-block h3 {
    text-align: center;
    color: #003955;
    padding-bottom: 40px;
}
.three-col-block p {
    color: #003955;
}
.three-col-block .block {
    text-align: center;
    background-size: cover;
    background-position: 50% 50%;
    box-shadow: 3px 3px 10px #888;
    min-width: 347px;
    min-height: 250px;
    margin-top: 60px;
    margin-bottom: 15px;
}
.three-col-block .block a {
    min-width: 347px;
    min-height: 250px;
    display: block;
    padding: 30px;
}
.three-col-block .span4 h3 {
    text-align: center;
    color: #FF0007;
    padding-bottom: 0;
}
.three-col-block img {
    margin-bottom: 10px;
}
@media (max-width: 1199px) {
    .three-col-block  .row-fluid .span4 {
        width: 100%;
        margin: 20px 0 0;
    }
    .three-col-block .block {
        margin: 15px auto;
        max-width: 347px;
    }
}
@media (max-width: 767px) {
    .three-col-block .block {
        margin-top: 50px;
    }
}
@media (max-width: 480px) {
    .three-col-block .span4 {
        max-width: 347px;
        margin: 0 auto !important;
    }
    .three-col-block .block {
        min-width: 100%;
        max-width: 347px;
        box-shadow: 0 0 2px #888;
    }
    .three-col-block .block a {
        padding: 30px 5px 5px;
        min-width: 100%;
        max-width: 347px;
    }
}











/* accordion */
.accordion-wrapper {
  margin: 5px 0;
  font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
  /*.grey-background {
    	background-color: #dedede;
	}*/ }
  .accordion-wrapper .accordion-section {
    /*.flipIn, h1, ul li {
			animation: flipdown 0.5s ease both;
			-webkit-animation: flipdown 0.5s ease both;
		}*/ }
    .accordion-wrapper .accordion-section .transition, .accordion-wrapper .accordion-section p, .accordion-wrapper .accordion-section ul li i:before, .accordion-wrapper .accordion-section ul li i:after {
      transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out; }
    .accordion-wrapper .accordion-section .no-select, .accordion-wrapper .accordion-section h2 {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .accordion-wrapper .accordion-section h1, h2, h3, h4, h5, h6 {
       color: #003955;
    }
    .accordion-wrapper .accordion-section h6 {
      font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 1.05em;
      font-weight: 600;
      color: #003955;
      text-decoration: none;
      text-align: left;
      margin: 0;
      padding: 10px 0 10px 10px;
      background: #fff;
      border-left: 40px solid #fff; }
    .accordion-wrapper .accordion-section a {
        color: #FF0007;}
    .accordion-wrapper .accordion-section a:hover {
        color: #ff6307;}
    .accordion-wrapper .accordion-section div {
      text-align: left;
      padding: 10px 30px 30px;
      margin: 0 0px 5px 50px;
      position: relative;
      z-index: 1;
      font-size: .95em;
      color: #003955;
      background-color: #fff; }
      @media only screen and (max-width: 979px) {
        .accordion-wrapper .accordion-section div {
          padding: 5px 15px 20px;
          margin: 0 0px 5px 40px;
        } }
    .accordion-wrapper .accordion-section ul {
      list-style: none;
      perspective: 900;
      padding: 0;
      margin: 0; }
      .accordion-wrapper .accordion-section ul li:first-of-type:before {
        display: none; }
      .accordion-wrapper .accordion-section ul ul {
        list-style: disc;
        padding: 0 0 0 40px !important;
        margin: 0 0 15px 30px;
        perspective: 900; }
      .accordion-wrapper .accordion-section ul ol {
        padding: 0 0 0 40px; }
        @media only screen and (max-width: 979px) {
          .accordion-wrapper .accordion-section ul ul {
            margin: 0; } }
        .accordion-wrapper .accordion-section ul ul li {
          margin-bottom: 0; }
        .accordion-wrapper .accordion-section ul ul li:first-of-type:before {
          display: block; }
    .accordion-wrapper .accordion-section ul:first-of-type {
      padding: 0;
      margin-left: 0; }
      @media only screen and (max-width: 979px) {
        .accordion-wrapper .accordion-section ul:first-of-type {
          padding: 0; } }
      @media only screen and (max-width: 979px) {
        .accordion-wrapper .accordion-section ul:first-of-type ul:first-of-type {
          padding: 0 0 0 15px; } }
    .accordion-wrapper .accordion-section ul li {
      position: relative;
      padding: 0;
      /*animation-delay: 1s;*/ }
    .accordion-wrapper .accordion-section ul li:last-of-type {
      padding-bottom: 0;
      margin: 0 0 3px; }
    .accordion-wrapper .accordion-section ul li .border {
        background-color: #CFF6F7;
        background-image:
            linear-gradient(
              to right,
              #CFF6F7, #F7FDE7
            );
        padding: 1px 1px;
        width: 25px;
        height: 25px;
        border-color: transparent;
        border-radius: 50%;
        border-width: 1px;
        margin-top: 6px;
        margin-left: 10px;
        float: left;
        position: relative;
    }
    .accordion-wrapper .accordion-section ul li .circle {
        background: #fff;
        height: 23px;
        width: 23px;
        border-color: transparent;
        border-radius: 50%;
        border-width: 1px;
        padding: 0px 6px;
        position: absolute;
    }
    .accordion-wrapper .accordion-section ul li i {
      /*position: absolute;
      transform: translate(15px, 0);
      -webkit-transform: translate(15px, 0);
      left: 0;
      margin-top: 10px;
      border-radius: 30px;
      border: 1px solid #003955;
      width: 21px;
      height: 21px;
      padding: 2px 2px 2px 5px;*/ }
    .accordion-wrapper .accordion-section ul li i:before, .accordion-wrapper .accordion-section ul li i:after {
      content: "";
      position: absolute;
      background-color: #003955;
      width: 1px;
      height: 15px; }
    .accordion-wrapper .accordion-section ul li i:before {
      transform: translate(4px, 0) rotate(90deg);
      -webkit-transform: translate(4px, 0) rotate(90deg);
      margin: 4px 1px 0; }
    .accordion-wrapper .accordion-section ul li i:after {
      transform: translate(4px, 0) rotate(90deg);
      -webkit-transform: translate(4px, 0) rotate(90deg);
      margin: 4px 1px 0; }
    .accordion-wrapper .accordion-section ul li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0;
      left: 0; }
    .accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ div {
      margin-top: 0;
      max-height: 0;
      opacity: 0;
      display: none;
      transform: translate(0, 50%);
      -webkit-transform: translate(0, 50%);
      position: relative;
      z-index: 1; }
    .accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ .border .circle i:before {
      transform: translate(4px, 0) rotate(-180deg);
      -webkit-transform: translate(4px, 0) rotate(-180deg); }
    .accordion-wrapper .accordion-section ul li input[type=checkbox]:checked ~ i:after {
      transform: translate(4px, 0) rotate(90deg);
      -webkit-transform: translate(4px, 0) rotate(90deg); }

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    transform: rotateX(8deg);
    -webkit-transform: rotateX(8deg); }
  83% {
    transform: rotateX(6deg);
    -webkit-transform: rotateX(6deg); }
  92% {
    transform: rotateX(-3deg);
    -webkit-transform: rotateX(-3deg); }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
    -webkit-transform-origin: top center;
    -webkit-transform: rotateX(0deg); } }













/* full width headline */
.single-headline  {
    padding: 90px 0 50px;
}
.single-headline h3 {
    color: #003955;
    text-align: center;
}










/* full width testimonial */
.full-testimonial {
    color: #fff;
    background-color: #003955;
    padding: 100px 0 125px;
}
.full-testimonial .stars img {
    margin: 0 auto 30px;
    display: block;
}
.full-testimonial .quote {
    padding: 10px 20px 0;
}
.full-testimonial .quote,
.full-testimonial .quote p {
    text-indent: 80px;
    padding-top: 10px;
    line-height: 47px;
    font-size: 39px;
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.full-testimonial .signature {
    font-size: 1.05em;
    padding: 15px 20px 0;
}
.full-testimonial .quote:before {
    position: absolute;
    content: " ";
    background: url(https://cdn2.hubspot.net/hubfs/2126713/images/icons/left-quotation-mark.png);
    background-size: 100% 100%;
    left: 35px;
    width: 65px;
    height: 51px;
    margin: 2px;
    background-repeat: no-repeat;
}
@media (max-width: 480px) {
    .full-testimonial .quote,
    .full-testimonial .quote p {
        line-height: 40px;
        font-size: 31px;
        padding-top: 20px;
    }
}











/* full width dbo */
.full-dbo {
    background-size: cover;
    background-position: 50% 50%;
}
.dbo-box {
    background-color: white;
    box-shadow: 3px 3px 10px #888;
    padding: 25px 15px 10px;
    margin: 160px 0 240px;
}
.dbo-box .offer {
    text-align: center;
}
.dbo-box .headline {
    color: #FF0007;
    line-height: normal;
    font-size: 40px;
    font-weight: 600;
    font-family: "Bebas Neue", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: 15px;
}
.dbo-box .subheadline {
    color: #003955;
    padding: 0 20px 5px;
    line-height: normal;
    font-size: 24px;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: 12px;
}
.dbo-box .copy {
    color: #003955;
    max-width: 450px;
    margin: 0 auto;
    font-family: Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.dbo-box .hs-cta-wrapper div.btn {
    padding: 15px 60px;
    margin: 20px 0 10px;
}
.dbo-box .btn {
    font-size: 15px;
    display: inline-block;
    font-family: "Pluto", Proxima Nova Rg, Helvetica Neue, Helvetica, Arial, sans-serif;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
    background: #ff0007; /* Old browsers */
    background: -moz-linear-gradient(left, #ff0007 0%, #ff6307 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ff0007 0%,#ff6307 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ff0007 0%,#ff6307 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0007', endColorstr='#ff6307',GradientType=1 ); /* IE6-9 */
}
.dbo-box .btn:hover {
    background: #ff6307;
}
@media (max-width: 480px) {
    .dbo-box .headline {
        font-size: 37px;
    }
    .dbo-box .subheadline {
        font-size: 22px;
    }
}
