.sq2.sq2-landing-page {

  .main-content {
    background-repeat: repeat-x;
    padding:60px 0;
    border-top: 3px solid #b6c0c6;
    color: $dark-blue;


    .flexible-body {
        @media#{$mobile}{
          padding-right: 20px;

        }
        @media#{$phone}{
          padding-right: 0;
        }
    }

    ul,ol {
      margin-left: 10px;
    }

    img {
      @media#{$phone}{
        display:block;
        margin: 10px auto !important;
        float:none !important;
        height: auto;
      }
    }

    h1 {
      font-family: $primaryFont;
      font-weight: bold;
      color: $dark-blue;
      font-size: 53px;
      letter-spacing: 0;

      @media#{$desktopwide}{
        font-size: 57px;
      }

      @media#{$phone}{
        font-size: 36px;
      }
    }

    h2 {
      font-family: $secondaryFont;
      font-weight: bold;
      color: $dark-blue;
      font-size: 24px;
      margin-bottom: 30px;
    }

    ul {
      margin-left: 40px;
      font-weight: bold;
    }

    .form-wrapper {
      background: $light-grey;
      padding: 30px 20px;
      border-radius: 10px;

      h3 {
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        input, textarea, select {
          border-radius: 5px;
        }

        .hs-form-booleancheckbox {
          font-size: 14px;
        }

        ul {
          margin-left:0;
          font-weight: normal;
        }

        .hs_submit {

          .hs-button {
            font-size: 15px;
            display: block;
            font-family: $secondaryFont;
            width: 100%;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff0007+0,ff6307+100 */
            background: $red; /* Old browsers */
            background: -moz-linear-gradient(left, $red 0%, $orange 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, $red 0%,$orange 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, $red 0%,$orange 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red', endColorstr='$orange',GradientType=1 ); /* IE6-9 */
            text-transform: capitalize;

            &:hover {
                background: #ff6307;
            }
          }
        }
      }
    }
  }

  &.confirmation-page {

    h1{

      &::before{
        content: "\2713";
        font-size: 100px;
        line-height: 0;
        vertical-align: middle;
        color: $green;
        font-weight: bold;
        letter-spacing: -10px;
        font-family: $primaryFont;

        @media#{$phone}{
          display:none;
        }
      }
    }
  }
}
